<!-- <head>
  <link rel="stylesheet" type="text/css" media="screen"
      href="https://didongthongminh.vn/templates/default/css/jquery.lazyloadxt.fadein.min.css?v=15.87" />
   <link rel="stylesheet" type="text/css" media="screen"
      href="https://didongthongminh.vn/templates/default/css/font-awesome.min.css?v=15.87" />
   <link rel="stylesheet" type="text/css" media="screen"
      href="https://didongthongminh.vn/templates/default/css/bootstraphome.css?v=15.87" />
   <link rel="stylesheet" type="text/css" media="screen"
      href="https://didongthongminh.vn/modules/home/assets/css/swiper-bundle.min.css?v=15.87" />
   <link rel="stylesheet" type="text/css" media="screen"
      href="https://didongthongminh.vn/modules/home/assets/css/default.css?v=15.87" />
   <link rel="stylesheet" type="text/css" media="screen"
      href="https://didongthongminh.vn/blocks/mainmenu/assets/css/icon.css?v=15.87" />
   <link rel="stylesheet" type="text/css" media="screen"
      href="https://didongthongminh.vn/blocks/slideshow/assets/css/default.css?v=15.87" />
   <link rel="stylesheet" type="text/css" media="screen"
      href="https://didongthongminh.vn/blocks/video/assets/css/video.css?v=15.87" />
   <link rel="stylesheet" type="text/css" media="screen"
      href="https://didongthongminh.vn/libraries/jquery/owlcarousel/assets/owl.carousel.min.css?v=15.87" />
   <link rel="stylesheet" type="text/css" media="screen"
      href="https://didongthongminh.vn/libraries/jquery/owlcarousel/assets/owl.theme.default.min.css?v=15.87" />
   <link rel="stylesheet" type="text/css" media="screen"
      href="https://didongthongminh.vn/blocks/products_sale/assets/css/default.css?v=15.87" />
   <link rel="stylesheet" type="text/css" media="screen"
      href="https://didongthongminh.vn/blocks/mainmenu/assets/css/moby.min.css?v=15.87" />
   <link rel="stylesheet" type="text/css" media="screen"
      href="https://didongthongminh.vn/blocks/mainmenu/assets/css/menu_mobile.css?v=15.87" />
   <link rel="stylesheet" type="text/css" media="screen"
      href="https://didongthongminh.vn/blocks/search/assets/css/search_simple.css?v=15.87" />
   <link rel="stylesheet" type="text/css" media="screen"
      href="https://didongthongminh.vn/blocks/mainmenu/assets/css/bottom_menu_mobile.css?v=15.87" />
</head> -->

<div class="body_container">
  <div class="container">
    <div id="main_container" class="row">
      <div class="col-md-12 col-sm-12 main-column">
        <style>
          @media (max-width: 1100px) {
            .banner_new.hidden-xs.hidden-sm {
              display: none !important;
            }
          }

          .banners-home a:before {
            content: "Hàng chất - giá tốt";
          }

          @media (min-width: 1100px) {
            .product_image::before {
              /*content: "Hàng chất - giá tốt" !important; */
            }
          }

          .prdimg {
            display: block !important;
          }
        </style>

        <div class="slide_banner" style="min-height: 190px">
          <div class="menu-site">
            <div class="position-relative menu">
              <ul class="menu-product-hover menu-categories">
                <li class=" first-item" id="pr_811">
                  <a rel="follow" [routerLink]="['/dien-thoai']" class="lv_0">
                    <span> iPhone</span><i class="fa fa-angle-right"></i></a>
                </li>
                <li class="" id="pr_813">
                  <a rel="follow" [routerLink]="['/dien-thoai']" class="lv_0">
                    <span> Xiaomi</span><i class="fa fa-angle-right"></i></a>
                </li>
                <li class="" id="pr_814">
                  <a rel="follow" [routerLink]="['/dien-thoai']" class="lv_0">
                    <span> Oppo</span><i class="fa fa-angle-right"></i></a>
                </li>
                <li class="" id="pr_815">
                  <a rel="follow" [routerLink]="['/dien-thoai']" class="lv_0">
                    <span> Realme</span><i class="fa fa-angle-right"></i></a>
                </li>
                <li class="" id="pr_812">
                  <a rel="follow" [routerLink]="['/dien-thoai']" class="lv_0">
                    <span> Poco</span><i class="fa fa-angle-right"></i></a>
                </li>
                <li class="" id="pr_865">
                  <a rel="follow" [routerLink]="['/dien-thoai']" class="lv_0">
                    <span> Techno</span><i class="fa fa-angle-right"></i></a>
                </li>
                <li class="" id="pr_817">
                  <a rel="follow" [routerLink]="['/dien-thoai']" class="lv_0">
                    <span> Samsung</span><i class="fa fa-angle-right"></i></a>
                </li>
                <li class="" id="pr_816">
                  <a rel="follow" [routerLink]="['/dien-thoai']" class="lv_0">
                    <span> Nokia</span><i class="fa fa-angle-right"></i></a>
                </li>

                <li class="" id="pr_820">
                  <a rel="follow" [routerLink]="['/tin-tuc']" class="lv_0">
                    <span> Tin công nghệ</span><i class="fa fa-angle-right"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="banner-site" style="width: 100%">
            <div id="pav-slideShow">
              <div class="hidden-xs">
                <div id="slideshow" class="bannercontainer carousel slide lazy" data-interval="3000"
                  data-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <a href="iphone-12-pro-max-cu-dep-128gb.html">
                        <picture>
                          <source srcset="
                              https://didongthongminh.vn/images/slideshow/2024/02/24/original/banner-to%CC%82%CC%89ng-4_1708768679.jpg
                            " type="image/webp" />
                          <source srcset="
                              https://didongthongminh.vn/images/slideshow/2024/02/24/original/banner-to%CC%82%CC%89ng-4_1708768679.jpg
                            " />
                          <img class="img-responsive"
                            src="https://didongthongminh.vn/images/slideshow/2024/02/24/original/banner-to%CC%82%CC%89ng-4_1708768679.jpg"
                            width="830" height="300" alt="iPhone 12 Pro Max" />
                        </picture>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <!-- Thông báo chạy -->
        <div class="banner_new">
          <div class="title_newhot">
            <img src="https://didongthongminh.vn/images/hot_new.svg" alt="image" class="img-responsive">
            <h3>Tin hot: </h3>
          </div>
          <div class="list_">
            <div class="list_newhot owl-carousel owl-theme">
              <h4>
                <a href="https://didongthongminh.vn/dia-chi-mua-ban-iphone-12-pro-max-cu-tai-hai-phong-uy-tin-nhat">Địa
                  chỉ mua bán iPhone 12 Pro Max cũ tại Hải Phòng uy tín nhất</a>
              </h4>
              <h4>
                <a href="https://didongthongminh.vn/danh-gia-ipad-pro-10-5">Đánh giá iPad Pro 10.5
                  sau 7 năm ra mắt – Hài lòng đến những người dùng khó tính nhất</a>
              </h4>
              <h4>
                <a href="https://didongthongminh.vn/tuan-le-vang-xa-apple-sap-san">Tuần lễ vàng, xả
                  Apple sập sàn</a>
              </h4>
              <h4>
                <a href="https://didongthongminh.vn/bang-gia-iphone-13-series-cu-nam-2024">Bảng giá
                  iPhone 13 Series cũ năm 2024</a>
              </h4>
              <h4>
                <a href="https://didongthongminh.vn/top-dien-thoai-choi-game-xiaomi-gia-re-cau-hinh-cao">Top
                  điện thoại chơi game Xiaomi giá rẻ cấu hình cao</a>
              </h4>
            </div>
          </div>
        </div>

        <div class="clear"></div>
        <!-- Ảnh -->
        <div class="banners-home row row5">
          <div class="col-sm-6 col5">
            <a href="https://didongthongminh.vn/may-tinh-bang" title="iPhone năm mới 2024">
              <img class="img-responsive img_org" style="display:contents;"
                data-src="https://didongthongminh.vn/images/banners/resized/orange-and-blue-playful-summer-activity-presentation-3_1710742731.webp"
                width="590" height="120" onerror="this.style.display='none'" alt="iPhone năm mới 2024" />
            </a>
          </div>
          <div class="col-sm-6 col5">
            <a href="https://didongthongminh.vn/redmi" title="iPad cũ">
              <img class="img-responsive img_org" style="display:contents;"
                data-src="https://didongthongminh.vn/images/banners/resized/orange-and-blue-playful-summer-activity-presentation-1_1710742425.webp"
                width="590" height="120" onerror="this.style.display='none'" alt="iPad cũ" />
            </a>
          </div>
        </div>

        <div class="clear"></div>

        <!--  -->
        <div id="products_news">

          <div id="products_menu_tabs">
            <div class="nav-tabs">
              <div class="item_tabs l_tab">
                <a title="iPhone">
                  <h2>
                    <img width="42" height="36" src="https://didongthongminh.vn/modules/home/assets/images/icon.svg"
                      alt="icon" onerror="this.src='/modules/home/assets/images/icon.svg'">
                    <span>iPhone đáng mua nhất</span>
                  </h2>
                </a>
              </div>
              <div class="r_tab">
                <div class="cout_prd">
                  <a [routerLink]="['/dien-thoai']">
                    Xem tất cả iPhone <i class="fa fa-chevron-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div id="products_item_list" class="mt5 list-cate list-cate0">
            <div id="box_product_9" class="products_item_content box_prd swiper productSwiper0">

              <div class=" list-slide swiper-wrapper">
                <div class="item item-slide swiper-slide" *ngFor="let item of bestSale.slice(0, 6); let i = index">

                  <div class="col-sm-5ths ">
                    <div class="frame  cat_item">

                      <a [routerLink]="['/dien-thoai/xem-chi-tiet/' + bestSale[i*2].id]" title="{{bestSale[i*2].name}}">
                        <div class="frame_inner">

                          <div class="discount" *ngIf="bestSale[i*2].promotionValue <= 100">
                            -{{ bestSale[i*2].promotionValue }}%
                          </div>

                          <div class="discount" *ngIf="bestSale[i*2].promotionValue > 100">
                            -{{formatCurrencyVND(bestSale[i*2].promotionValue)}}
                          </div>

                          <div class="product_image sticky">
                            <img width="210" height="210" class="img-responsive img_org"
                              onerror="this.onerror=null;this.style.display='none';" [src]="bestSale[i*2].avatar"
                              alt="{{ bestSale[i*2].name }}" />

                            <span class="is-gift"></span>
                          </div>

                          <div class="frame_title">
                            <h3>{{bestSale[i*2].name }}</h3>
                          </div>

                          <div class="frame_price">
                            <span class="price">
                              {{formatCurrencyVND(bestSale[i*2].productOptionDtos[0]?.newPrice)}}
                            </span>
                            <span class="price_old">
                              {{formatCurrencyVND(bestSale[i*2].productOptionDtos[0]?.price)}}
                            </span>
                            <div class="clearfix"></div>
                          </div>

                          <div class="button_bot">
                            <div>
                              <span class="green_cl bt_cl">
                                {{bestSale[i*2].promotionName}}
                              </span>
                            </div>
                          </div>
                          <!-- <div class="count_down_fl">
                            <p class="coun_down text-center">
                              <span class="icon">
                                <img src="https://didongthongminh.vn/blocks/products_sale/assets/images/clock-sale.svg"
                                  alt="icon" class="img-responsive">
                              </span>
                              <span class="text-time">
                                Còn: <span class="time_coundown" id="demnguoc_160701" data-end="Jun 02 2024 23:55:25"
                                  data-id="160701" data-type="1"></span>
                              </span>
                            </p>
                          </div>

                          <div class="view">
                            <span class="cout_total">
                              <span class="text_sale">Đã bán 69/100</span>
                            </span>
                          </div> -->

                          <div class="rate-like">
                            <div class="star-rating" style="--rating: 4.7;"></div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                  <div class="col-sm-5ths ">
                    <div class="frame  last-cat">

                      <a [routerLink]="['/dien-thoai/xem-chi-tiet/' + bestSale[i*2 + 1].id]"
                        title="{{bestSale[i*2 + 1].name}}">
                        <div class="frame_inner">

                          <div class="discount" *ngIf="bestSale[i*2 + 1].promotionValue <= 100">
                            -{{ bestSale[i*2 + 1].promotionValue }}%
                          </div>

                          <div class="discount" *ngIf="bestSale[i*2 + 1].promotionValue > 100">
                            -{{formatCurrencyVND(bestSale[i*2 + 1].promotionValue)}}
                          </div>

                          <div class="product_image sticky">
                            <img width="210" height="210" class="img-responsive img_org"
                              onerror="this.onerror=null;this.style.display='none';" [src]="bestSale[i*2 + 1].avatar"
                              alt="{{ bestSale[i*2 + 1].name }}" />

                            <span class="is-gift"></span>
                          </div>
                          <!-- <div class="discount">-33%</div> -->

                          <div class="frame_title">
                            <h3>{{bestSale[i*2 + 1].name }}</h3>
                          </div>

                          <div class="frame_price">
                            <span class="price">
                              {{formatCurrencyVND(bestSale[i*2 + 1].productOptionDtos[0]?.newPrice)}}
                            </span>

                            <span class="price_old">
                              {{formatCurrencyVND(bestSale[i*2 + 1].productOptionDtos[0]?.price)}}
                            </span>
                            <div class="clearfix"></div>
                          </div>

                          <div class="button_bot">
                            <div>
                              <span class="green_cl bt_cl">
                                {{bestSale[i*2 + 1].promotionName}}
                              </span>
                            </div>
                          </div>

                          <!-- <div class="sale-brief">
                            <div class="text-left">
                              <ul>
                                <li>Thu cũ đổi mới&nbsp;lên đời giá cao</li>
                              </ul>
                            </div>
                          </div> -->

                          <div class="rate-like">
                            <div class="star-rating" style="--rating: 4.7;"></div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>

                <div class="sw-btn-next swiper-button-next0">
                  <svg width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M1.67501 24.7063L13.8813 12.5L1.67501 0.293762L0.887505 1.08126L12.3063 12.5L0.887505 23.9188L1.67501 24.7063Z"
                      fill="#444444" />
                  </svg>
                </div>
                <div class="sw-btn-prev swiper-button-prev0">
                  <svg width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M12.325 24.7063L0.118744 12.5L12.325 0.293762L13.1125 1.08126L1.69374 12.5L13.1125 23.9188L12.325 24.7063Z"
                      fill="#444444" />
                  </svg>
                </div>
              </div>
              <div class="cout_prd visible-xs">
                <a [routerLink]="['/dien-thoai']">Xem tất cả iPhone <i class="fa fa-chevron-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div id="products_menu_tabs">
            <div class="nav-tabs">

              <div class="item_tabs l_tab">
                <a href="" title="iPhone">
                  <h2>
                    <!-- <img width="42" height="36" src="index.html" alt="icon"  > -->
                    <span>Điện thoại bán chạy nhất</span>
                  </h2>
                </a>
              </div>

              <div class="r_tab">
                <div class="cout_prd">
                  <a [routerLink]="['/dien-thoai']">
                    Xem tất cả <i class="fa fa-chevron-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div id="products_item_list" class="mt5 list-cate list-cate0">
            <div id="box_product_9" class="products_item_content box_prd swiper productSwiper0">

              <div class="list-slide swiper-wrapper">

                <div class="item item-slide swiper-slide" *ngFor="let item of bestSale.slice(0, 5)">

                  <div class="col-sm-5ths">
                    <div class="frame cat_item">
                      <a [routerLink]="['/dien-thoai/xem-chi-tiet/' + item.id]">
                        <div class="frame_inner">

                          <div class="discount" *ngIf="item.promotionValue <= 100">
                            -{{ item.promotionValue }}%
                          </div>

                          <div class="discount" *ngIf="item.promotionValue > 100">
                            -{{formatCurrencyVND(item.promotionValue)}}
                          </div>

                          <div class="product_image sticky">
                            <img width="210" height="210" class="img-responsive img_org prdimg lazy-loaded"
                              [src]="item.avatar" alt="{{ item.name }}" />

                            <span class="is-gift"></span>
                          </div>

                          <div class="frame_title">
                            <h3>{{ item.name }}</h3>
                          </div>

                          <div class="frame_price">
                            <span class="price">
                              {{formatCurrencyVND(item.productOptionDtos[0]?.newPrice)}}
                            </span>
                            <span class="price_old">
                              {{formatCurrencyVND(item.productOptionDtos[0]?.price)}}
                            </span>
                            <div class="clearfix"></div>

                            <div class="button_bot" style="margin-top: 2px;">
                              <div>
                                <span class="green_cl bt_cl">
                                  {{item.promotionName}}
                                </span>
                              </div>
                            </div>
                          </div>

                          <div class="rate-like">
                            <div class="star-rating" style="--rating: 5"></div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cout_prd visible-xs">
              <a [routerLink]="['/dien-thoai']">Xem tất cả <i class="fa fa-chevron-right"></i>
              </a>
            </div>
          </div>

          <div class="clear"></div>

          <div id="products_menu_tabs">
            <div class="nav-tabs">
              <div class="item_tabs l_tab">
                <a href="" title="iPhone">
                  <h2>
                    <!-- <img width="42" height="36" src="index.html" alt="icon"  > -->
                    <span>Điện thoại mới ra mắt</span>
                  </h2>
                </a>
              </div>
              <div class="r_tab">
                <div class="cout_prd">
                  <a [routerLink]="['/dien-thoai']">
                    Xem tất cả <i class="fa fa-chevron-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div id="products_item_list" class="mt5 list-cate list-cate0">
            <div id="box_product_9" class="products_item_content box_prd swiper productSwiper0">
              <div class="list-slide swiper-wrapper">
                <div class="item item-slide swiper-slide" *ngFor="let item of newProducts.slice(0, 5)">
                  <div class="col-sm-5ths">
                    <div class="frame cat_item">
                      <a [routerLink]="[
                              '/dien-thoai/xem-chi-tiet/' + item.id
                            ]">
                        <div class="frame_inner">
                          <div class="product_image sticky">
                            <img width="210" height="210" class="img-responsive img_org prdimg lazy-loaded"
                              [src]="item.avatar" alt="{{ item.name }}" />
                            <span class="is-gift"></span>
                          </div>
                          <div class="frame_title">
                            <h3>{{ item.name }}</h3>
                          </div>
                          <div class="frame_price">
                            <span class="price">
                              {{
                              formatCurrencyVND(
                              item.productOptionDtos[0]?.newPrice
                              )
                              }}
                            </span>
                            <span class="price_old">
                              {{
                              formatCurrencyVND(
                              item.productOptionDtos[0]?.price
                              )
                              }}
                            </span>
                            <div class="clearfix"></div>
                            <div class="button_bot" style="margin-top: 2px;">
                              <div>
                                <span class="green_cl bt_cl">{{
                                  item.promotionName
                                  }}</span>
                              </div>
                            </div>
                          </div>

                          <div class="rate-like">
                            <div class="star-rating" style="--rating: 5"></div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cout_prd visible-xs">
              <a [routerLink]="['/dien-thoai']">Xem tất cả <i class="fa fa-chevron-right"></i>
              </a>
            </div>
          </div>

          <div class="clear"></div>

          <div id="products_menu_tabs">
            <div class="nav-tabs">
              <div class="item_tabs l_tab">
                <a href="" title="iPhone">
                  <h2>
                    <!-- <img width="42" height="36" src="index.html" alt="icon"  > -->
                    <span>Điện thoại giảm giá tốt nhất</span>
                  </h2>
                </a>
              </div>
              <div class="r_tab">
                <div class="cout_prd">
                  <a [routerLink]="['/dien-thoai']">
                    Xem tất cả <i class="fa fa-chevron-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div id="products_item_list" class="mt5 list-cate list-cate0">
            <div id="box_product_9" class="products_item_content box_prd swiper productSwiper0">
              <div class="list-slide swiper-wrapper">
                <div class="item item-slide swiper-slide" *ngFor="let item of minProduct">
                  <div class="col-sm-5ths">
                    <div class="frame cat_item">
                      <a [routerLink]="[
                                '/dien-thoai/xem-chi-tiet/' + item.id
                              ]">
                        <div class="frame_inner">
                          <div class="product_image sticky">
                            <img width="210" height="210" class="img-responsive img_org prdimg lazy-loaded"
                              [src]="item.avatar" alt="{{ item.name }}" />
                            <span class="is-gift"></span>
                          </div>
                          <div class="frame_title">
                            <h3>{{ item.name }}</h3>
                          </div>
                          <div class="frame_price">
                            <span class="price">
                              {{
                              formatCurrencyVND(
                              item.productOptionDtos[0]?.newPrice
                              )
                              }}
                            </span>
                            <span class="price_old">
                              {{
                              formatCurrencyVND(
                              item.productOptionDtos[0]?.price
                              )
                              }}
                            </span>
                            <div class="clearfix"></div>
                            <div class="button_bot" style="margin-top: 2px;">
                              <div>
                                <span class="green_cl bt_cl">{{
                                  item.promotionName
                                  }}</span>
                              </div>
                            </div>
                          </div>

                          <div class="rate-like">
                            <div class="star-rating" style="--rating: {{ item.rating }}"></div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cout_prd visible-xs">
              <a [routerLink]="['/dien-thoai']">Xem tất cả <i class="fa fa-chevron-right"></i>
              </a>
            </div>
          </div>

          <div class="clear"></div>

          <div id="products_menu_tabs">
            <div class="nav-tabs">
              <div class="item_tabs l_tab">
                <a href="" title="iPhone">
                  <h2>
                    <!-- <img width="42" height="36" src="index.html" alt="icon"  > -->
                    <span>Điện thoại trả góp</span>
                  </h2>
                </a>
              </div>
              <div class="r_tab">
                <div class="cout_prd">
                  <a [routerLink]="['/dien-thoai']">
                    Xem tất cả <i class="fa fa-chevron-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div id="products_item_list" class="mt5 list-cate list-cate0">
            <div id="box_product_9" class="products_item_content box_prd swiper productSwiper0">
              <div class="list-slide swiper-wrapper">
                <div class="item item-slide swiper-slide" *ngFor="
                            let item of debitProducts.slice(0, 5);
                            let i = index
                          ">
                  <div class="col-sm-5ths">
                    <div class="frame cat_item">
                      <a [routerLink]="[
                                  '/dien-thoai/xem-chi-tiet/' + item.id
                                ]">
                        <div class="frame_inner">
                          <div class="product_image sticky">
                            <img width="210" height="210" class="img-responsive img_org prdimg lazy-loaded"
                              [src]="item.avatar" alt="{{ item.name }}" />
                            <span class="is-gift"></span>
                          </div>
                          <div class="frame_title">
                            <h3>{{ item.name }}</h3>
                          </div>
                          <div class="frame_price">
                            <span class="price">
                              {{
                              formatCurrencyVND(
                              item.productOptionDtos[0]?.newPrice
                              )
                              }}
                            </span>
                            <span class="price_old">
                              {{
                              formatCurrencyVND(
                              item.productOptionDtos[0]?.price
                              )
                              }}
                            </span>
                            <div class="clearfix"></div>
                            <div class="button_bot" style="margin-top: 2px;">
                              <div>
                                <span class="green_cl bt_cl">{{
                                  item.promotionName
                                  }}</span>
                              </div>
                            </div>

                          </div>

                          <div class="rate-like">
                            <div class="star-rating" style="--rating: {{ item.rating }}"></div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>