.frame_inner .discount {
  background: linear-gradient(93.01deg, #ff6700 15.48%, #f9920f 92.66%);
  border-radius: 5px 5px 0px 5px;
  padding: 3px 10px;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
}
.frame_inner .discount::before {
  content: "";
  position: absolute;
  right: 0;
  top: 20px;
  border-left: 10px solid rgba(0, 0, 0, 0);
  border-bottom: 0px solid rgba(0, 0, 0, 0);
  border-top: 10px solid #f9920f;
}
.banners-default a:last-child {
  margin-bottom: 0 !important;
}
@media only screen and (min-width: 1200px) {
  .slide_banner .col-lg-l {
    width: 61%;
  }
  .slide_banner .col-lg-r {
    width: 39%;
    padding: 0;
  }
}
#products_menu_tabs {
  background: #fff;
  margin-bottom: 5px;
}
@media (max-width: 767px) {
  .container {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  #products_menu_tabs {
    margin-bottom: 10px;
  }
  .block_default1 {
    margin-bottom: 5px;
  }
  .slide_banner {
    margin: 0 -10px !important;
  }
}
#products_menu_tabs .nav-tabs {
  border: 0 none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 0;
  grid-gap: 5px;
}
@media (max-width: 1299px) {
  #products_menu_tabs .nav-tabs {
    grid-gap: 10px;
  }
  #products_menu_tabs .nav-tabs .l_tab {
    display: inline-block;
  }
  #products_menu_tabs .nav-tabs .r_tab {
    justify-content: space-between;
  }
}
@media (max-width: 992px) {
  #products_menu_tabs .nav-tabs .r_tab {
    display: block;
    overflow-x: auto;
  }
  #products_menu_tabs .nav-tabs .r_tab .list_cat {
    width: max-content;
  }
  #products_menu_tabs .nav-tabs .r_tab .list_cat .item_tabs {
    margin-right: 10px;
  }
  #products_menu_tabs .nav-tabs .r_tab .cout_prd {
    display: none;
  }
  #products_menu_tabs .nav-tabs .r_tab::-webkit-scrollbar {
    width: 0 !important;
    display: none;
  }
}
#products_menu_tabs .r_tab {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
}
#products_menu_tabs .r_tab .list_cat {
  display: flex;
}
#products_menu_tabs .r_tab .cout_prd {
  margin-left: 10px;
}
#products_menu_tabs .r_tab .cout_prd a {
  display: block;
  line-height: normal;
  padding: 8px 15px;
  color: #20863d;
  border: 1px solid #20863d;
  border-radius: 30px;
}
#products_menu_tabs .r_tab .cout_prd a i {
  margin-left: 5px;
  font-weight: 100;
  font-size: 11px;
}
#products_menu_tabs .item_tabs > a {
  background: none;
  text-decoration: none;
  font-size: 14px;
  line-height: 37px;
  color: #444;
  position: relative;
}
#products_menu_tabs .item_tabs.active > a {
  background: none;
  text-decoration: none;
  color: #17b0e4;
}
#products_menu_tabs .nav-tabs .item_tabs.active a,
#products_menu_tabs .nav-tabs .item_tabs a:hover {
  color: #f9920f;
}
#products_menu_tabs .nav-tabs .item_tabs a {
  display: block;
}
#products_menu_tabs .read-more a {
  /* background: url(../images/icon_arrow.png) no-repeat scroll right bottom 5px; */
  color: #929292;
  display: block;
  font-size: 11px;
  padding-right: 10px;
  padding-top: 14px;
}
#products_item_list .product_image img {
  display: block;
  margin: auto;
}
#products_item_list .last_promotion .frame_title .name_cat {
  min-height: 35px;
}
.promotion .product_image,
.last_promotion .product_image {
  padding: 0 0 2px 0;
}
.banners-home a {
  display: inline-block;
  background: #f7f7f7;
  height: 133px;
}
@media (max-width: 768px) {
  .banners-home a {
    min-height: 80px;
    height: unset;
  }
}
.banners-home a:before {
  color: #70686a;
  font-size: 32px;
  text-align: center;
  width: 592px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 126px;
  position: absolute;
  z-index: 0;
  background: #ccc;
}
@media (max-width: 768px) {
  .banners-home a:before {
    font-size: 23px;
    height: 80px;
    width: 95%;
  }
}
.banners-home a img {
  width: 100%;
  color: #f7f7f7;
  position: absolute;
}
@media only screen and (min-width: 768px) {
  #products_item_list .col-lg-1 {
    min-height: 231px;
    width: 5.5%;
    padding-right: 0;
  }
  #products_item_list .col-lg-11 {
    width: 94.5%;
    padding-left: 0;
  }
}
#products_item_list .cat-title > h2 {
  margin: 0;
}
#products_item_list .cat-title {
  background: #49c0e8;
}
#products_item_list .cat-title a {
  color: #fff;
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px;
}
@media only screen and (min-width: 768px) {
  #products_item_list .cat-title {
    /* background: url(../images/bg-item-tabs.png) no-repeat; */
    min-height: 252px;
  }
  #products_item_list .cat-title a {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    height: 252px;
    text-align: center;
    width: 252px;
  }
}
#products_item_list .products_item_content {
  background: #f4f4f4;
  border-radius: 10px;
  padding: 10px;
}
#products_item_list .products_item_content .col-sm-5ths {
  padding: 0;
  width: 100%;
  background: #fff;
  padding: 20px 10px 10px;
  border-radius: 10px;
  float: none;
  transition: all 300ms ease-in-out;
}
#products_item_list .products_item_content .col-sm-5ths .frame {
  font-size: 14px;
}
#products_item_list .products_item_content .col-sm-5ths .frame .item-img-logo {
  position: absolute;
  z-index: 1;
  width: auto;
}
@media (max-width: 769px) {
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame
    .item-img-logo {
    position: unset;
    height: 20px;
    width: auto;
  }
}
#products_item_list .products_item_content .col-sm-5ths .frame .frame_inner {
  background: #fff;
  text-align: center;
  max-width: 210px;
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .frame_inner
  .product_image::before {
  color: #858585;
  font-size: 17px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 211px;
  position: absolute;
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .frame_inner
  .product_image {
  height: 225px;
  display: inline-block;
  text-align: left;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 768px) {
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame
    .frame_inner
    .product_image {
    height: auto;
    min-height: 124px;
  }
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .frame_inner
  .product_image
  .img_org {
  object-fit: contain;
  margin-top: 0;
  max-height: 100%;
  width: 100%;
  height: 208px;
  position: relative;
  top: 0;
  transition: all 300ms ease-in-out;
  color: #f7f7f7;
  display: contents;
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .frame_inner
  .product_image
  .prdimg {
  display: block !important;
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .frame_inner
  .product_image
  .is-gift {
  position: absolute;
  height: 31px;
  width: 33px;
  bottom: 0;
  right: 0;
  /* background: url("../../../products/assets/images/icon-gift.svg") center
    no-repeat; */
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .frame_inner
  .product_image
  .box_price {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -15%);
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .frame_inner
  .product_image
  .box_price
  .discount_box {
  position: relative;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .frame_inner
  .product_image
  .box_price
  .discount_box
  .icon_fl {
  width: auto !important;
  background-color: #fff;
  padding: 5px 8px 5px 2px;
  display: inline-block;
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .frame_inner
  .product_image
  .box_price
  .discount_box
  .discount_val {
  display: inline-block;
  font-size: 18px;
  line-height: 21px;
  padding: 5px 8px;
  background: -webkit-linear-gradient(left, #ff6700, rgba(255, 181, 48, 0.7));
  position: absolute;
  left: 21px;
  top: 0;
  bottom: -1px;
  z-index: 1;
  color: #fff;
  border-radius: 5px 5px 0 0;
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .frame_inner
  .product_image
  .box_price
  .discount_box
  .discount_val
  sup {
  top: -0.2em;
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .frame_inner
  .product_image
  .box_price
  .price_sale {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  padding: 10px 14px 10px 10px;
  border-radius: 0 10px 10px 10px;
  background: rgba(236, 27, 62, 0.9);
}
@media (max-width: 767px) {
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame
    .frame_inner
    .product_image
    .box_price
    .discount_box {
    position: relative;
    border-radius: 5px 5px 0 0;
  }
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame
    .frame_inner
    .product_image
    .box_price
    .discount_box
    .icon_fl {
    width: auto !important;
    background-color: #fff;
    padding: 5px 8px 5px 2px;
    border-radius: 5px 0 0 0;
  }
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame
    .frame_inner
    .product_image
    .box_price
    .discount_box
    .discount_val {
    font-size: 16px;
    line-height: 21px;
  }
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame
    .frame_inner
    .product_image
    .box_price
    .price_sale {
    font-size: 14px;
    padding: 5px 9px 5px 5px;
    border-radius: 0 8px 8px 8px;
  }
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .frame_inner
  .frame_title {
  padding: 10px 0 10px 0;
  text-align: left;
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .frame_inner
  .frame_title
  h3 {
  font-size: 14px;
  line-height: 17px;
  height: 34px;
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .frame_inner
  .frame_price {
  padding: 0 0 10px 0;
  text-align: left;
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .frame_inner
  .frame_price
  .price {
  color: #f60;
  font-size: 16px;
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .frame_inner
  .frame_price
  .price_old {
  color: #777;
  text-decoration: line-through;
  padding-left: 0;
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .frame_inner
  .count_down_fl
  .coun_down {
  display: flex;
  grid-gap: 10px;
  align-items: center;
  height: 30px;
  width: fit-content;
  background: #eee;
  border-radius: 30px;
  padding: 0 10px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame
    .frame_inner
    .count_down_fl
    .coun_down
    .icon {
    display: none;
  }
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .frame_inner
  .count_down_fl
  .time_coundown
  span
  b {
  color: #ff6700;
}
#products_item_list .products_item_content .col-sm-5ths .frame .view {
  font-size: 13px;
  line-height: 16px;
  border-radius: 5px;
}
#products_item_list .products_item_content .col-sm-5ths .frame .view .top_view {
  text-align: right;
  position: relative;
  padding: 5px 20px 6px 20px;
  font-size: 16px;
  line-height: 19px;
  color: #333;
  background-color: #fff1bb;
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .view
  .top_view
  .discount {
  clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
  background-color: #ff6700;
  padding: 6px 24px 3px 10px;
  position: absolute;
  top: -1px;
  left: 0;
  font-size: 14px;
  line-height: 17px;
  font-style: italic;
  color: #fff;
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .view
  .top_view
  .discount
  .img-flash {
  display: inline-block;
  width: auto;
  max-width: 100%;
  margin-right: 5px;
}
@media (max-width: 767px) {
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame
    .view
    .top_view {
    padding: 5px 5px 6px 20px;
    font-size: 12px;
    line-height: 16px;
  }
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame
    .view
    .top_view
    .discount {
    clip-path: none;
    background-color: #ff6700;
    padding: 5px 8px 5px 5px;
    font-size: 12px;
    line-height: 17px;
  }
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame
    .view
    .top_view
    .discount
    .img-flash {
    display: none;
  }
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .view
  .coun_down {
  margin: 7px 0 10px 0;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #333;
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .view
  .cout_total {
  display: block;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  background-color: #60bb22;
  border-radius: 30px;
  padding: 5px;
  position: relative;
  height: 16px;
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .view
  .cout_total
  .bgr {
  background-color: #f9920f;
  height: 24px;
  border-radius: 30px 0 0 30px;
  position: absolute;
  top: 0;
  left: 0;
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .view
  .cout_total
  .full_bgr {
  border-radius: 30px;
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .view
  .cout_total
  .text_sale {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  z-index: 1;
  line-height: 16px;
}
#products_item_list .products_item_content .col-sm-5ths .frame .button_bot {
  display: grid;
  grid-gap: 10px;
  text-align: left;
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .button_bot
  .bt_cl {
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  overflow: hidden;
  padding: 5px 0;
  color: #444;
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .button_bot
  .orange_cl {
  color: #fff;
  padding: 5px 11px;
  background: -webkit-linear-gradient(left, #f9920f, #ff6700);
  border-radius: 20px;
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .button_bot
  .green_cl {
  color: #fff;
  padding: 5px 11px;
  background: -webkit-linear-gradient(left, #60bb22, #20863d);
  border-radius: 20px;
}
#products_item_list .products_item_content .col-sm-5ths .frame .sale-brief {
  padding: 10px;
  background: #eee;
  border-radius: 5px;
  font-size: 14px;
  color: #444;
  height: 56px;
  display: flex;
  align-items: center;
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .sale-brief
  .text-left {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .sale-brief
  p:last-child {
  margin-bottom: 0;
}
#products_item_list .products_item_content .col-sm-5ths .frame .rate-like {
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#products_item_list
  .products_item_content
  .col-sm-5ths
  .frame
  .rate-like
  .btn-like {
  display: flex;
  align-items: center;
  grid-gap: 5px;
  color: #444;
}
#products_item_list .products_item_content .col-sm-5ths:hover {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
}
#products_item_list
  .products_item_content
  .col-sm-5ths:hover
  .frame_inner
  .product_image
  .img_org {
  top: -10px;
}
@media (max-width: 767px) {
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame_inner
    .frame_price {
    height: 42px;
  }
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame_inner
    .frame_price
    .price_old {
    padding-left: 0;
  }
}
@media (max-width: 330px) {
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame_inner
    .product_image {
    height: 144px;
  }
}
@media (max-width: 850px) and (min-width: 767px) {
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame_inner
    .product_image {
    height: 135px;
  }
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame_inner
    .frame_price {
    height: 42px;
  }
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame_inner
    .frame_price
    .price_old {
    padding-left: 0;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame_inner
    .product_image {
    height: 180px;
  }
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame_inner
    .frame_price {
    height: 42px;
  }
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame_inner
    .frame_price
    .price_old {
    padding-left: 0;
  }
}
#products_item_list .products_item_content .item-slide {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  max-width: 210px;
}
#products_item_list .promotion {
  width: 40%;
}
#products_item_list .last_promotion {
  width: 40%;
}
#products_item_list .last_promotion .frame_inner {
  padding: 0 0 5px 0;
}
#products_item_list .last_promotion .product_image {
  padding: 0 0 10px 0;
}
#products_item_list .cat_item .frame_view {
  height: 228px;
  left: 0;
  opacity: 0;
  background: #fff;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px;
  z-index: 1;
  cursor: pointer;
}
.frame_view i,
.frame_view span,
.frame_view strong,
.frame_view em,
.frame_view p em {
  font-size: 12px !important;
}
#products_item_list .cat_item .frame_view .name_view {
  color: #1e8e04;
  font-size: 16px;
  font-weight: 700;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
#products_item_list .cat_item .frame_view .compare {
  color: #1e8e04;
  font-size: 14px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  z-index: 9;
  margin: 0;
}
#products_item_list .cat_item .frame_view .price_view {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 10px;
}
#products_item_list .cat_item .frame_view .divider {
  width: 100%;
  border-bottom: 1px solid #ccc;
}
#products_item_list .cat_item:hover .frame_view {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 1200px) {
  #products_item_list .cat_item .frame_view {
    display: none;
  }
}
#products_item_list .product_type {
  position: absolute;
  left: 10px;
  top: 10px;
}
#products_item_list .discount_percent {
  /* background: url(../images/bg_discount.png) no-repeat; */
  color: #fff;
  left: 0;
  padding-left: 3px;
  position: absolute;
  top: 4px;
  width: 52px;
}
.scrollbar {
  overflow-y: scroll !important;
}
#style-4::-webkit-scrollbar {
  width: 5px;
}
#style-4::-webkit-scrollbar-thumb {
  background-color: #1e8e04;
}
.slide_left {
  margin-top: 10px !important;
}
.slide_s1 a img {
  max-width: 100% !important;
  height: auto !important;
}
.banners .img-old {
  max-width: 100% !important;
  height: auto !important;
}
.box_contents {
  overflow: hidden;
  background: #fff;
  padding-bottom: 10px;
}
@media only screen and (max-width: 1200px) {
  .box_contents {
    width: 100%;
  }
}
.click_more {
  cursor: pointer;
  font-size: 18px;
  color: #1e8e04;
  display: block;
  text-align: center;
  margin-bottom: 0;
  position: relative;
}
.click_more:before {
  height: 55px;
  margin-top: -30px;
  content: "";
  display: block;
  background: linear-gradient(0deg, #fff 35%, rgba(255, 255, 255, 0.35) 95%);
  width: 100%;
  position: absolute;
  top: -25px;
  left: 0;
}
@media (max-width: 767px) {
  .click_more {
    position: relative;
    font-size: 14px;
  }
  .click_more:before {
    content: "";
    height: 50px;
    width: 100%;
    position: absolute;
    top: -20px;
    left: 0;
    background: linear-gradient(0deg, #fff 35%, rgba(255, 255, 255, 0.35) 95%);
  }
}
.click_more span {
  background: none repeat scroll 0 0 #fafafa;
  border: 1px solid #1e8e04;
  border-radius: 3px;
  color: #1e8e04;
  display: block;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px 0;
  text-align: center;
}
.title_top {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.title_top span {
  display: inline-block;
  padding: 0 40px;
  position: relative;
}
.title_top span:before {
  content: "";
  /* background-image: url("../images/Group 84.png"); */
  background-repeat: no-repeat;
  position: absolute;
  width: 30px;
  height: 8px;
  bottom: 3px;
  left: 2px;
}
.title_top span:after {
  content: "";
  /* background-image: url("../images/le.png"); */
  background-repeat: no-repeat;
  position: absolute;
  width: 30px;
  height: 8px;
  bottom: 3px;
  right: 2px;
}
.title_main {
  margin-top: 0;
  margin-bottom: 30px;
  color: #3c0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
}
.box_contents img {
  float: left;
  margin-bottom: 15px;
  margin-right: 30px;
  display: block;
  width: 50%;
}
.main-column .row5 {
  margin: 0 -10px 10px -10px;
}
.main-column .row5 .col5 {
  padding: 0 10px;
}
@media (max-width: 767px) {
  .main-column .row5 .col5:nth-of-type(2) {
    display: none;
  }
}
.banner_new {
  display: flex;
  align-items: center;
  margin: 10px 0 20px 0;
  min-height: 50px;
}
.banner_new .title_newhot {
  display: inline-flex;
  align-items: center;
  width: 118px;
}
@media (max-width: 768px) {
  .banner_new .title_newhot {
    width: 50px;
  }
}
.banner_new .title_newhot h3 {
  font-size: 18px;
  line-height: 21px;
  margin: 0 10px;
  text-transform: uppercase;
  color: #ff6700;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .banner_new .title_newhot h3 {
    display: none;
  }
}
.banner_new .title_newhot span {
  font-size: 14px;
  line-height: 17px;
}
.banner_new .list_ {
  width: calc(100% - 121px);
  display: inline-block;
  line-height: 34px;
}
@media (max-width: 768px) {
  .banner_new .list_ {
    width: 86%;
    line-height: 20px;
  }
  .banner_new .list_ .owl-nav {
    display: none !important;
  }
}
.banner_new .list_ .list_newhot h4 {
  margin: 0;
}
.banner_new .list_ .list_newhot .owl-nav {
  display: inline-block;
  position: absolute;
  top: -12px;
  right: 0;
  margin-top: 0;
}
.banner_new .list_ .list_newhot .owl-nav [class*="owl-"] {
  color: #ccc;
  font-size: 14px;
  margin: 0 0 0 10px;
  padding: 9px 11px;
  background: #fff;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px 2px #eee;
}
.banner_new .list_ .list_newhot .owl-nav [class*="owl-"]:hover {
  color: #ff6700;
  border: 1px solid #ff6700;
  background: #fff;
}
.banner_sale a {
  display: block;
}
.banner_sale a img {
  width: 100%;
}
.banner_customer {
  margin: 15px 0 10px 0;
}
.banner_customer .row {
  margin: 0 -7.5px;
}
.banner_customer .row .col-md-4 {
  padding: 0 7.5px;
}
.banner_customer .row .col-md-4 a {
  display: block;
  border-radius: 3px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .banner_customer {
    overflow-x: auto;
  }
  .banner_customer::-webkit-scrollbar {
    width: 0 !important;
    display: none;
  }
  .banner_customer .row-cus {
    display: flex;
    width: max-content;
  }
  .banner_customer .row-cus .item_cus {
    width: 160px;
  }
}
.box_new {
  margin-bottom: 30px;
}
.box_new .nav-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: unset;
  position: relative;
  margin-bottom: 5px;
}
.box_new .nav-tabs .r_tab a {
  display: block;
  line-height: 37px;
  padding: 10px;
  color: #20863d;
}
.box_new .nav-tabs .r_tab a i {
  margin-left: 5px;
  font-weight: 100;
  font-size: 11px;
}
.box_new .nav-tabs .l_tab h2 span {
  margin-left: 35px !important;
}
.box_new .list_new {
  margin: 0 -7.5px;
}
.box_new .list_new .left_box {
  height: 380px;
  overflow-y: auto;
}
.box_new .list_new .col {
  padding: 0 7.5px;
}
.box_new .list_new .col h1 {
  font-size: 19px;
}
.box_new .list_new .col li {
  list-style: disc;
  margin-left: 2em;
}
.box_new .list_new .col h2 {
  font-size: 16px;
  font-weight: 600;
}
.box_new .list_new .col blockquote {
  font-size: 15px;
  background: #f7f7f7;
}
.box_new .list_new .col_left .left_new {
  width: 480px;
  padding: 0;
}
.box_new .list_new .col_left .left_new a {
  display: block;
}
.box_new .list_new .col_left .left_new a img {
  border-radius: 3px;
  overflow: hidden;
  max-height: 270px;
  object-fit: cover;
}
.box_new .list_new .col_left .left_new a h3 {
  font-size: 16px;
  line-height: 20px;
  margin: 20px 0 15px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 40px;
}
.box_new .list_new .col_left .left_new a .summary {
  font-size: 14px;
  line-height: 18px;
  text-align: justify;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 36px;
}
.box_new .list_new .col_left .left_new a .bot_item {
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  color: #777;
}
.box_new .list_new .col_left .left_new a .bot_item span:nth-of-type(1) {
  padding-left: 18px;
  /* background: url("../images/time.svg") top 1px left 0 no-repeat; */
}
.box_new .list_new .col_left .left_new a .bot_item span:nth-of-type(2) {
  padding-left: 18px;
  margin-left: 15px;
  /* background: url("../images/view.svg") top 4px left 0 no-repeat; */
}
.box_new .list_new .col_left .right_new {
  width: calc(100% - 480px);
  padding: 0 0 0 11px;
}
.box_new .list_new .col_left .right_new a {
  display: block;
}
.box_new .list_new .col_left .right_new a img {
  float: left;
  margin: 0 10px 10px 0;
  border-radius: 3px;
  overflow: hidden;
  width: 120px;
  height: 68px;
  object-fit: cover;
  object-position: top left;
}
.box_new .list_new .col_left .right_new a .content_new {
  display: table-cell;
  vertical-align: top;
}
.box_new .list_new .col_left .right_new a .content_new h3 {
  font-size: 13px;
  line-height: 16px;
  margin: 0 0 7px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 48px;
  text-align: justify;
}
@media (min-width: 768px) and (max-width: 991px) {
  .box_new .list_new .col_left .right_new a .content_new h3 {
    height: 32px;
    -webkit-line-clamp: 2;
    text-align: left;
  }
}
.box_new .list_new .col_left .right_new a .content_new .bot_item {
  font-size: 12px;
  line-height: 14px;
  color: #777;
}
.box_new
  .list_new
  .col_left
  .right_new
  a
  .content_new
  .bot_item
  span:nth-of-type(1) {
  padding-left: 18px;
  /* background: url("../images/time.svg") top 0 left 0 no-repeat; */
}
.box_new
  .list_new
  .col_left
  .right_new
  a
  .content_new
  .bot_item
  span:nth-of-type(2) {
  padding-left: 18px;
  margin-left: 15px;
  /* background: url("../images/view.svg") top 2px left 0 no-repeat; */
}
.box_new .left_box [class*=" col-"] {
  padding: 0;
}
.box_new .left_box img {
  border-radius: 3px;
  overflow: hidden;
}
.box_new .left_box .count_store {
  margin: 15px 0 10px 0;
  display: flex;
  align-items: center;
}
.box_new .left_box .count_store span:nth-of-type(1) {
  font-size: 50px;
  color: #ff6700;
  padding-right: 10px;
  line-height: 20px;
}
.box_new .left_box .count_store span:nth-of-type(2) {
  font-size: 14px;
  line-height: 20px;
  padding: 0 10px;
  display: block;
  border-left: 1px solid #f9920f;
  width: 160px;
}
.box_new .left_box .count_store a {
  display: block;
  flex-grow: 1;
  background-color: #f9920f;
  clip-path: polygon(10px 0%, 100% 0%, 100% 100%, 10px 100%, 0% 50%);
  padding: 10px 12px 10px 23px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-family: Medium;
}
@media (max-width: 767px) {
  .box_new .left_box .count_store span:nth-of-type(2) {
    font-size: 12px;
    line-height: 16px;
    padding: 0 5px 0 10px;
    display: block;
    border-left: 1px solid #f9920f;
  }
  .box_new .left_box .count_store a {
    clip-path: polygon(10px 0%, 100% 0%, 100% 100%, 10px 100%, 0% 50%);
    padding: 10px 10px 10px 18px;
    font-size: 12px;
    line-height: 16px;
  }
}
.box_new .left_box .about {
  line-height: 20px;
  text-align: justify;
  margin-bottom: 0;
}
.box_new .left_box .about span {
  color: #f9920f;
}
@media (min-width: 768px) and (max-width: 991px) {
  .box_new .left_box {
    clear: both;
    padding-top: 25px !important;
  }
  .box_new .left_box .block_inner a {
    display: block;
  }
  .box_new .left_box .block_inner a img {
    width: 100%;
    object-fit: cover;
  }
}
@media (max-width: 767px) {
  .box_new .left_box {
    padding: 0 10px !important;
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .box_contents img {
    width: 100% !important;
    margin-right: 0 !important;
    float: unset !important;
  }
}
@media (min-width: 1300px) {
  .slide_banner .col-lg-8 {
    width: 850px;
  }
  .slide_banner .col-lg-4 {
    width: calc(100% - 850px);
  }
}
.scrollmenu {
  margin-bottom: 10px;
}
.scrollmenu .list_menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.scrollmenu .list_menu .item_menu a {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #000;
  font-size: 12px;
  line-height: 14px;
  flex-wrap: wrap;
  height: auto;
  padding: 0;
  font-weight: 600;
}
@media (max-width: 405px) {
  .scrollmenu .list_menu .item_menu a {
    font-size: 9px;
  }
}
.scrollmenu .list_menu .item_menu a img {
  width: 100%;
  height: calc((100vw - 40px) / 5);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  object-fit: contain;
  margin-bottom: 10px;
}
.scrollmenu .list_menu .bgr_first {
  border: unset;
  /* background-image: url("../images/background.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.scrollmenu .list_menu .bgr_last {
  border: 1px solid #fcd48d;
  background-color: #fff7e4;
}
.list-cate .cout_prd {
  margin-top: 10px;
}
.list-cate .cout_prd a {
  display: block;
  padding: 12px;
  text-align: center;
  color: #20863d;
  border-radius: 3px;
  border: 1px solid #ddd;
}
.list-cate .cout_prd a i {
  margin-left: 5px;
  font-weight: 100;
  font-size: 11px;
}
.list_new_mb {
  overflow-x: auto;
}
.list_new_mb::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
.list_new_mb .list_news {
  display: flex;
  width: max-content;
}
.list_new_mb .list_news a {
  display: block;
  width: 120px;
  margin-right: 10px;
}
.list_new_mb .list_news a img {
  height: 70px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 3px;
  overflow: hidden;
}
.list_new_mb .list_news a .content_new h3 {
  font-size: 13px;
  line-height: 16px;
  margin: 0 0 7px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 48px;
  text-align: left;
}
.list_new_mb .list_news a .content_new .bot_item {
  font-size: 12px;
  line-height: 14px;
  color: #777;
}
.list_new_mb .list_news a .content_new .bot_item span:nth-of-type(1) {
  padding-left: 18px;
  /* background: url("../images/time.svg") top 0 left 0 no-repeat; */
}
.list_new_mb .list_news a .content_new .bot_item span:nth-of-type(2) {
  padding-left: 18px;
  margin-left: 15px;
  /* background: url("../images/view.svg") top 2px left 0 no-repeat; */
}
#scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
#style-1::-webkit-scrollbar-thumb {
  background-color: #000;
}
.slide_banner {
  display: flex;
  grid-gap: 15px;
  margin-bottom: 20px;
}
.slide_banner .menu-site {
  width: 200px;
  z-index: 11;
}
.slide_banner .video-site {
  width: 260px;
}
.slide_banner .banner-site {
  width: calc(100% - 490px);
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  background: #fff;
  overflow: hidden;
}
.menu-categories {
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.25));
  background: #fff;
  border-radius: 5px;
}
.menu-categories .lv_0 {
  padding: 9px 12px;
  font-weight: bold;
  font-size: 14px;
  color: #000;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background: #fff;
  transition: 0.1s ease-in-out;
}
.menu-categories .lv_0 span {
  display: flex;
  align-items: center;
}
.menu-categories .lv_0 .img-lv0 {
  width: 18px;
  height: 18px;
  object-fit: contain;
  margin-right: 10px;
  filter: saturate(0%) brightness(70%) contrast(1000%);
  transition: 0.1s ease-in-out;
}
.menu-categories .lv_0:hover {
  color: #ff6700;
  background: #eee;
}
.menu-categories .lv_0:hover .img-lv0 {
  filter: unset;
}
.menu-categories .level_0:first-child .lv_0 {
  border-radius: 5px 5px 0 0;
}
.menu-categories .level_0:last-child .lv_0 {
  border-radius: 0 0 5px 5px;
}
#products_menu_tabs .r_tab .item_tabs > a {
  padding: 8px 15px;
  border: 1px solid #ddd;
  border-radius: 30px;
  display: block;
  line-height: normal;
  margin-left: 10px;
  transition: 0.1s ease-in-out;
}
#products_menu_tabs .r_tab .item_tabs > a:hover {
  border-color: #20863d;
  color: #20863d;
}
.star-rating {
  --percent: calc(var(--rating) / 5 * 100%);
  font: normal normal normal 16px/1 FontAwesome;
  position: relative;
  display: flex;
  align-items: center;
}
.star-rating::before {
  content: "";
  background: linear-gradient(
    90deg,
    #f9920f var(--percent),
    #999 var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}
.list-slide .owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin: 0;
  width: 100%;
  height: 0;
}
.list-slide .owl-nav .owl-prev {
  margin: 0;
  width: 30px;
  height: 60px;
  border-radius: 0 60px 60px 0;
  padding: 0 5px 0 0;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 3px 1px 4px rgba(0, 0, 0, 0.2);
}
.list-slide .owl-nav .owl-prev:hover {
  background: #60bb22;
}
.list-slide .owl-nav .owl-prev:hover svg path {
  fill: #fff;
}
.list-slide .owl-nav .owl-prev.disabled {
  display: none;
}
.list-slide .owl-nav .owl-next {
  margin: 0;
  width: 30px;
  height: 60px;
  border-radius: 60px 0 0 60px;
  padding: 0 0 0 5px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: -3px -1px 4px rgba(0, 0, 0, 0.2);
}
.list-slide .owl-nav .owl-next:hover {
  background: #60bb22;
}
.list-slide .owl-nav .owl-next:hover svg path {
  fill: #fff;
}
.list-slide .owl-nav .owl-next.disabled {
  display: none;
}
.sw-btn-prev {
  margin: 0;
  width: 30px;
  height: 60px;
  border-radius: 0 60px 60px 0;
  padding: 0 5px 0 0;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 3px 1px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.sw-btn-prev:hover {
  background: #60bb22;
}
.sw-btn-prev:hover svg path {
  fill: #fff;
}
.sw-btn-prev[aria-disabled="true"] {
  display: none;
}
.sw-btn-next {
  margin: 0;
  width: 30px;
  height: 60px;
  border-radius: 60px 0 0 60px;
  padding: 0 0 0 5px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: -3px -1px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.sw-btn-next:hover {
  background: #60bb22;
}
.sw-btn-next:hover svg path {
  fill: #fff;
}
.sw-btn-next[aria-disabled="true"] {
  display: none;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.owl-nav.disabled {
  display: none;
}
@media (max-width: 960px) {
  .fixed_top {
    margin-bottom: 10px;
  }
  .slide_banner .menu-site {
    display: none;
  }
  .slide_banner .banner-site {
    width: 100%;
    filter: unset;
    max-height: 250px;
    overflow: hidden;
  }
  .slide_banner .video-site {
    display: none;
  }
  .slide_banner {
    padding: 0 10px 10px;
  }
  .star-rating {
    display: none;
  }
  .list-cate {
    margin: 0 -10px;
  }
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame
    .frame_inner
    .product_image
    .img_org {
    height: calc((100vw - 80px) / 3.5 - 10px);
  }
}
@media (max-width: 600px) {
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame
    .frame_inner
    .product_image
    .img_org {
    height: calc((100vw - 60px) / 2.5 - 10px);
  }
  #products_item_list .products_item_content .col-sm-5ths {
    padding: 10px;
  }
  .box-sales1 {
    margin: 10px -10px;
  }
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame
    .frame_inner
    .frame_title
    h3 {
    font-size: 12px;
  }
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame
    .frame_inner
    .frame_price
    .price {
    font-size: 11px;
  }
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame
    .frame_inner
    .frame_price
    .price_old {
    font-size: 8px;
  }
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame
    .frame_inner
    .count_down_fl
    .coun_down {
    font-size: 11px;
    padding: 5px 10px;
    height: 26px;
  }
  #products_item_list .products_item_content .col-sm-5ths .frame .rate-like {
    justify-content: center;
  }
  .frame_inner .discount {
    font-size: 12px;
    padding: 2px 8px;
  }
  .frame_inner .discount::before {
    top: 18px;
  }
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame
    .view
    .cout_total
    .text_sale {
    height: 20px;
    line-height: 20px;
  }
  #products_item_list .products_item_content .col-sm-5ths .frame .sale-brief {
    padding: 5px 10px;
    font-size: 11px;
  }
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame
    .sale-brief
    .text-left {
    -webkit-line-clamp: 3;
  }
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame
    .rate-like
    .btn-like {
    font-size: 12px;
  }
  #products_item_list
    .products_item_content
    .col-sm-5ths
    .frame
    .view
    .cout_total {
    height: 20px;
  }
} /*# sourceMappingURL=default.css.map */
