<div class='breadcrumbs'>
    <div class="container">
       <div class="row">
          <div class="col-xs-12">
             <div class='breadcrumb index.php'   itemscope itemtype="https://schema.org/BreadcrumbList" >
                <div class='breadcumbs-first flever_12 fl-left' itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" >
                   <a itemprop="item" title='didongthongminh.vn' href="https://didongthongminh.vn/" >
                   <span itemprop="name" >Trang chủ</span>
                   </a>
                   <meta itemprop="position" content="1" />
                </div>
                <div class='breadcrumbs_sepa'><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                <div class="fl-left" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                   <a itemprop="item" href="" title="Trang cá nhân">
                   <span itemprop="name" >Trang cá nhân</span>
                   </a>
                   <meta itemprop="position" content="2" />
                </div>
                <div class="clear"></div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div class="body_container ">
    <div class=" container">
       <div id="main_container" class="row">
          <div class="col-md-12 col-sm-12 main-column">
             <input type="hidden" id="alert_info" value='["B\u1ea1n ch\u01b0a nh\u1eadp h\u1ecd t\u00ean","B\u1ea1n ch\u01b0a nh\u1eadp s\u1ed1 \u0111i\u1ec7n tho\u1ea1i","S\u1ed1 \u0111i\u1ec7n tho\u1ea1i kh\u00f4ng \u0111\u00fang \u0111\u1ecbnh d\u1ea1ng","S\u1ed1 \u0111i\u1ec7n tho\u1ea1i t\u1eeb 10 \u0111\u1ebfn 12 s\u1ed1","B\u1ea1n ch\u01b0a nh\u1eadp m\u1eadt kh\u1ea9u","M\u1eadt kh\u1ea9u t\u1eeb 6 k\u00fd t\u1ef1 tr\u1edf l\u00ean","M\u1eadt kh\u1ea9u nh\u1eadp l\u1ea1i kh\u00f4ng \u0111\u00fang"]' />
             <main>
                <div class="grid-members">
                   <div class="grid-item">
                      <div class="user-menu-side">
                         <div class="user-name">
                            <img onerror="this.src='https://didongthongminh.vn/images/logo-user.svg'" src="https://didongthongminh.vn/https://lh3.googleusercontent.com/a-/ALV-UjVHrOd7RW-54tG7dIgLC8NKBZhW8HoCQMy3qP9zsHpE6C9WLg=s96-c" alt="avatar" class="img-responsive">
                            <div class="name">
                               Xin chào, <span>{{user.username}}</span>
                            </div>
                         </div>
                         <ul>
                            <li class="selected">
                               <a [routerLink]="['/trang-ca-nhan']">
                               <i class="fa fa-user" aria-hidden="true"></i>
                               Thông tin tài khoản        </a>
                            </li>
                            <!-- <li class="" >
                               <a href="https://didongthongminh.vn/quan-ly-don-hang">
                               <i class="fa fa-wpforms" aria-hidden="true"></i>
                               Quản lý đơn hàng        </a>
                            </li>
                            <li class="" >
                               <a href="https://didongthongminh.vn/doi-mat-khau">
                               <i class="fa fa-lock" aria-hidden="true"></i>
                               Đổi mật khẩu        </a>
                            </li> -->
                            <li class="" >
                               <a [routerLink]="['/dia-chi']">
                               <i class="fa fa-id-card-o" aria-hidden="true"></i>
                               Sổ địa chỉ        </a>
                            </li>
                            <li>
                               <a (click)="deleteBtn()">
                               <i class="fa fa-power-off" aria-hidden="true"></i>
                               Đăng xuất        </a>
                            </li>
                         </ul>
                      </div>
                   </div>
                   <div class="grid-item">
                      <div class="user-content-side">
                         <h2 class="member-title">Thông tin tài khoản</h2>
                         <form action="" method="post" name="frmUser" id="frmUser" enctype="multipart/form-data">
                            <div class="box-user">
                               <label class="label-input" for="u_name">Họ và tên</label>
                               <input type="text" name="u_name" id="u_name" [value]="user.username" placeholder="Họ và tên" class="form-control">
                            </div>
                            <div class="box-user">
                               <label class="label-input" for="u_email">Email</label>
                               <input type="text" name="u_email" id="u_email" [value]="user.email" placeholder="Email" class="form-control" disabled readonly>
                            </div>
                            <div class="box-user">
                               <label class="label-input" for="u_tel">Điện thoại</label>
                               <input type="text" name="u_tel" id="u_tel" [value]="user.phone" placeholder="Điện thoại" class="form-control">
                            </div>
                            <div class="box-user box-submit">
                               <a href="javascript:void(0)" class="submit-btn" onclick="checkUpdateUser()">Cập nhật</a>
                            </div>
                         </form>
                      </div>
                   </div>
                </div>
             </main>
             <div class="alert_modal fade" id="alert_modal">
                <div class="alert_body">
                   <div class="alert_message" id="alert_message">
                   </div>
                   <a id="a_message" onclick="close_alert()">Đóng</a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <script type="text/javascript" src="../assets/user-infor/default.js"></script>