<div class='breadcrumbs'>
   <div class="container">
      <div class="row">
         <div class="col-xs-12">
            <div class='breadcrumb xiaomi' itemscope itemtype="https://schema.org/BreadcrumbList">
               <div class='breadcumbs-first flever_12 fl-left' itemprop="itemListElement" itemscope
                  itemtype="https://schema.org/ListItem">
                  <a itemprop="item" title='Trang chủ' [routerLink]="['/']">
                     <span itemprop="name">Trang chủ</span>
                  </a>
                  <meta itemprop="position" content="1" />
               </div>

               <div class='breadcrumbs_sepa'><i class="fa fa-angle-right" aria-hidden="true"></i></div>

               <div class="fl-left" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                  <a itemprop="item" title="Điện thoại" [routerLink]="['/dien-thoai']">
                     <span itemprop="name">Điện thoại</span>
                  </a>
                  <meta itemprop="position" content="2" />
               </div>

               <div class="clear"></div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="body_container ">
   <div class=" container">
      <div id="main_container" class="row">
         <div class="col-md-12 col-sm-12 main-column">

            <input type="hidden" name="root" id="root" value="https://didongthongminh.vn/">
            <input type="hidden" name="status_filter" id="status_filter" value="">


            <div class="row-banner">
               <div class="list_banner owl-carousel">
                  <div class="item">
                     <a href='https://didongthongminh.vn/iphone-12-pro-max-cu-dep-128gb'>
                        <picture>
                           <source
                              srcset="https://didongthongminh.vn/images/banners/resized/iphone-12-pro-max_1705653561.webp"
                              type="image/webp">
                           <source
                              srcset="https://didongthongminh.vn/images/banners/resized/iphone-12-pro-max_1705653561.jpg">
                           <img class="img-responsive img_org"
                              data-src="https://didongthongminh.vn/images/banners/resized/iphone-12-pro-max_1705653561.jpg"
                              width="590" height="120"
                              onerror="javascript:this.src='https://didongthongminh.vn/images/no-images.png'"
                              alt="Banner ĐT" />
                        </picture>
                     </a>
                  </div>
                  <div class="item">
                     <a href='https://didongthongminh.vn/iphone-cu-nguyen-ban'>
                        <picture>
                           <source
                              srcset="https://didongthongminh.vn/images/banners/resized/samsung-s22-ultra_1705906313.webp"
                              type="image/webp">
                           <source
                              srcset="https://didongthongminh.vn/images/banners/resized/samsung-s22-ultra_1705906313.jpg">
                           <img class="img-responsive img_org"
                              data-src="https://didongthongminh.vn/images/banners/resized/samsung-s22-ultra_1705906313.jpg"
                              width="590" height="120"
                              onerror="javascript:this.src='https://didongthongminh.vn/images/no-images.png'"
                              alt="Banner ĐT 1" />
                        </picture>
                     </a>
                  </div>
               </div>
            </div>


            <div class='product_cat mt20'>
               <div class="list_cat_parent_1">
                  <div class="list_cat_parent mt15 id1" style="">
                     <a class="cat_child  pic c1" (click)="navigateToCategory(1)" title="iPhone">
                        <img src="https://didongthongminh.vn/images/products/cat/original/image-117_1669949402.svg"
                           alt="iPhone" class="img-responsive">
                        <span class="name">iPhone</span>
                     </a>

                     <a class="cat_child  pic c1" (click)="navigateToCategory(2)" title="Samsung">
                        <img src="https://res.cloudinary.com/dgyqh297t/image/upload/v1717761546/samsung_x3vimi.png"
                           alt="Samsung" class="img-responsive">
                        <span class="name">Samsung</span>
                     </a>

                     <a class="cat_child  pic c1" (click)="navigateToCategory(3)" title="Xiaomi">
                        <img src="https://res.cloudinary.com/dgyqh297t/image/upload/v1717761546/xiaomi_t77ndw.png"
                           alt="Xiaomi" class="img-responsive">
                        <span class="name">Xiaomi</span>
                     </a>

                     <a class="cat_child  pic c1" (click)="navigateToCategory(4)" title="Oppo">
                        <img src="https://res.cloudinary.com/dgyqh297t/image/upload/v1717761643/oppo_g5uoqp.png"
                           alt="Oppo" class="img-responsive">
                        <span class="name">Oppo</span>
                     </a>

                     <a class="cat_child  pic c1" (click)="navigateToCategory(5)" title="Realme">
                        <img src="https://res.cloudinary.com/dgyqh297t/image/upload/v1717761642/realme_w9flxc.png"
                           alt="Realme" class="img-responsive">
                        <span class="name">Realme</span>
                     </a>

                     <a class="cat_child  pic c1" (click)="navigateToCategory(6)" title="Nokia">
                        <img src="https://res.cloudinary.com/dgyqh297t/image/upload/v1717761785/nokia_h1xgus.png"
                           alt="Nokia" class="img-responsive">
                        <span class="name">Nokia</span>
                     </a>

                     <a class="cat_child  pic c1" (click)="navigateToCategory(7)" title="OnePlus">
                        <img src="https://res.cloudinary.com/dgyqh297t/image/upload/v1717761178/oneplus_cuxhbe.png"
                           alt="OnePlus" class="img-responsive">
                        <span class="name">OnePlus</span>
                     </a>

                     <a class="cat_child  pic c1" (click)="navigateToCategory(8)" title="Infinix">
                        <img src="https://res.cloudinary.com/dgyqh297t/image/upload/v1717761405/infinix_pk8exn.png"
                           alt="Infinix" class="img-responsive">
                        <span class="name">Infinix</span>
                     </a>

                     <a class="cat_child  pic c1" (click)="navigateToCategory(9)" title="Vivo">
                        <img src="https://res.cloudinary.com/dgyqh297t/image/upload/v1717761405/vivo_xgy1to.png"
                           alt="Vivo" class="img-responsive">
                        <span class="name">Vivo</span>
                     </a>

                     <a class="cat_child  pic c1" (click)="navigateToCategory(10)" title="Tecno">
                        <img src="https://res.cloudinary.com/dgyqh297t/image/upload/v1717761644/tecno_webhj5.png"
                           alt="Tecno" class="img-responsive">
                        <span class="name">Tecno</span>
                     </a>

                  </div>
               </div>

               <div class="bg"></div>

               <div class="mb-fix">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="d-flex flex-row flex-wrap">
                           <div class="form-group col-md-3 mr-3 mb-2">
                              <label class="control-label"><h4><b>Giá</b></h4></label>
                              <select class="form-control form-control-lg custom-select-lg" id="slectPrice" (change)="onChange()" 
                                 [(ngModel)]="selectedPrice">
                                 <option value="" required>-- Chọn giá --</option>
                                 <option value="&priceTo=2000000">Dưới 2 triệu</option>
                                 <option value="&priceFrom=2000000&priceTo=4000000">Từ 2 - 4 triệu</option>
                                 <option value="&priceFrom=4000000&priceTo=7000000">Từ 4 - 7 triệu</option>
                                 <option value="&priceFrom=7000000">Trên 7 triệu</option>
                              </select>
                           </div>

                           <div class="form-group col-md-3 mr-3 mb-2">
                              <label class="control-label"><h4><b>Dung lượng RAM</b></h4></label>
                              <select class="form-control form-control-lg custom-select-lg" id="slectRam" (change)="onChange()" [(ngModel)]="selectedRam">
                                 <option value="" required>-- Chọn RAM --</option>
                                 <option value="&ramTo=4" required> Dưới 4GB</option>
                                 <option value="&ramFrom=4&ramTo=6" required> 4GB - 6GB </option>
                                 <option value="&ramFrom=8&ramTo=12" required> 8GB - 12GB </option>
                                 <option value="&ramFrom=12" required> Trên 12GB </option>
                              </select>
                           </div>

                           <div class="form-group col-md-3 mr-3 mb-2">
                              <label class="control-label"><h4><b>Bộ nhớ trong</b></h4></label>
                              <select class="form-control form-control-lg custom-select-lg" id="slectRom" (change)="onChange()" [(ngModel)]="selectedRom">
                                 <option value="" required>-- Chọn bộ nhớ trong --</option>
                                 <option value="&romTo=32" required> Dưới 32GB</option>
                                 <option value="&romFrom=32&romTo=64" required> 32GB - 64GB </option>
                                 <option value="&romFrom=128&romTo=256" required> 128GB - 256GB </option>
                                 <option value="&romFrom=512" required> Trên 512GB </option>
                              </select>
                           </div>

                           <div class="form-group col-md-3 mr-3 mb-2">
                              <label class="control-label"><h4><b>Sắp xếp</b></h4></label>
                              <select class="form-control form-control-lg custom-select-lg" id="slectSort" (change)="onChange()" [(ngModel)]="selectedSort">
                                 <option value="" required>-- Chọn loại sắp xếp --</option>
                                 <option value="&sort=1" required> Giá Cao - Thấp</option>
                                 <option value="&sort=2" required> Giá Thấp - Cao</option>
                                 <option value="&sort=3" required> Theo A - Z </option>
                                 <option value="&sort=4" required> Theo Z - A </option>
                              </select>
                           </div>
                        </div>

                     </div>
                  </div>
               </div>

               <div class="box">
                  <div class="productbox">
                     <div class="productlist">
                        <div class="list-product-hot  row_list" id="box_product">
                           <div class="col-sm-5ths" *ngFor="let item of products">
                              <div class="frame cat_item">
                                 <a [routerLink]="['/dien-thoai/xem-chi-tiet/' + item.id]"
                                    title="Redmi Note 12 Turbo 8GB/256GB">
                                    <div class="frame_inner">
                                       <div class="product_image sticky">
                                          <picture>                                             
                                             <img class="img-responsive img_org"
                                                [src]="item.avatar"
                                                width="210" height="210" onerror="this.src='/images/not_picture.png'"
                                                alt="Redmi Note 12 Turbo 8GB/256GB" />
                                          </picture>
                                       </div>

                                       <div class="discount" *ngIf="item.promotionValue <= 100">
                                          -{{ item.promotionValue }}%
                                        </div>
                                        <div class="discount" *ngIf="item.promotionValue > 100">
                                          -{{ formatCurrencyVND(item.promotionValue)}}
                                        </div>

                                       <div class="frame_title">
                                          <h3>{{item.name}}</h3>
                                       </div>

                                       <div class="frame_price">
                                          <span class="price">
                                             {{formatCurrencyVND(item.productOptionDtos[0]?.newPrice)}}
                                          </span>
                                          <span class="price_old">
                                             {{formatCurrencyVND(item.productOptionDtos[0]?.price)}}
                                          </span>
                                          <div class="clearfix"></div>
                                       </div>

                                       <div class="button_bot">
                                          <div>
                                            <span class="green_cl bt_cl">{{
                                              item.promotionName
                                              }}</span>
                                          </div>
                                       </div>
                                    </div>
                                 </a>
                                 <div class="rate-like">
                                    <div class="star-rating" style="--rating: 4.7"></div>
                                    <div class="compare">
                                       <div data-add="0" data-name="dien_thoai" data-id="67572"
                                          class="a_compare compare67572">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                             <path
                                                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                             <path
                                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                          </svg>
                                          <span>So sánh</span>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>

                        </div>
                     </div>
                     <div class='pagination'><a id='load_more_button' class='load_more' data-pagecurrent='25'
                           title='Next page' data-nextpage='15' href='javascript: void(0);'
                           data-list='list-product-hot'> Xem thêm >> </a></div>
                  </div>
               </div>




            </div>

         </div>
      </div>
   </div>
</div>