<div class="content">
  <table class="charactestic_table_detail" border="0" cellpadding="8px" width="100%">
    <tbody>
      <tr>
        <td class="group_field" colspan="2" valign="top">Kiểu màn hình</td>
      </tr>
      <tr class="tr-0 srat_group_field">
        <td class="title" width="40%">Công nghệ màn hình</td>
        <td class="content_charactestic" width="60%">{{product.screenTechnology}}</td>
      </tr>
      <tr></tr>
      <tr class="tr-1">
        <td class="title" width="40%">Độ phân giải</td>
        <td class="content_charactestic" width="60%">
          {{product.screenResolution}}
        </td>
      </tr>
      <tr></tr>
      <tr class="tr-0">
        <td class="title" width="40%">Màn hình rộng</td>
        <td class="content_charactestic" width="60%">{{product.widescreen}}</td>
      </tr>
      <tr>
        <td class="group_field" colspan="2" valign="top">Camera sau</td>
      </tr>
      <tr class="tr-0 srat_group_field">
        <td class="title" width="40%">Độ phân giải camera sau</td>
        <td class="content_charactestic" width="60%">
          {{product.rearCamera}}
        </td>
      </tr>
      <tr></tr>
      <tr class="tr-1">
        <td class="title" width="40%">Quay phim</td>
        <td class="content_charactestic" width="60%">
          {{product.rearCameraFeature}}
        </td>
      </tr>
      <tr>
        <td class="group_field" colspan="2" valign="top">Camera trước</td>
      </tr>
      <tr class="tr-0 srat_group_field">
        <td class="title" width="40%">Độ phân giải camera trước</td>
        <td class="content_charactestic" width="60%">{{product.frontCamera}}</td>
      </tr>
      <tr>
        <td class="group_field" colspan="2" valign="top">
          Hệ điều hành &amp; CPU
        </td>
      </tr>
      <tr class="tr-0 srat_group_field">
        <td class="title" width="40%">Hệ điều hành</td>
        <td class="content_charactestic" width="60%">{{product.operationSystem}}</td>
      </tr>
      <tr></tr>
      <tr class="tr-1">
        <td class="title" width="40%">Chip xử lý</td>
        <td class="content_charactestic" width="60%">{{product.cpu}}</td>
      </tr>
      <tr></tr>
      <tr class="tr-0">
        <td class="title" width="40%">Tốc độ CPU</td>
        <td class="content_charactestic" width="60%">
          {{product.cpuSpeed}}
        </td>
      </tr>
      <tr></tr>
      <tr class="tr-1">
        <td class="title" width="40%">Chip đồ họa</td>
        <td class="content_charactestic" width="60%">{{product.graphicChip}}</td>
      </tr>
      <tr>
        <td class="group_field" colspan="2" valign="top">
          Bộ nhớ &amp; Lưu trữ
        </td>
      </tr>
      <tr class="tr-0 srat_group_field">
        <td class="title" width="40%">RAM</td>
        <td class="content_charactestic" width="60%">6 GB</td>
      </tr>
      <tr></tr>
      <tr class="tr-1">
        <td class="title" width="40%">Bộ nhớ trong</td>
        <td class="content_charactestic" width="60%">128 GB</td>
      </tr>
      <tr></tr>
      <tr class="tr-0">
        <td class="title" width="40%">Bộ nhớ còn lại</td>
        <td class="content_charactestic" width="60%">128GB</td>
      </tr>
      <tr></tr>
      <tr class="tr-1">
        <td class="title" width="40%">Thẻ nhớ</td>
        <td class="content_charactestic" width="60%">6GB</td>
      </tr>
      <tr>
        <td class="group_field" colspan="2" valign="top">Kết nối</td>
      </tr>
      <tr class="tr-0 srat_group_field">
        <td class="title" width="40%">Sim</td>
        <td class="content_charactestic" width="60%">{{product.sim}}</td>
      </tr>
      <tr></tr>
      <tr class="tr-1">
        <td class="title" width="40%">Wifi</td>
        <td class="content_charactestic" width="60%">
          {{product.wifi}}
        </td>
      </tr>
      <tr></tr>
      <tr class="tr-0">
        <td class="title" width="40%">GPS</td>
        <td class="content_charactestic" width="60%">
          {{product.gps}}
        </td>
      </tr>
      <tr></tr>
      <tr class="tr-1">
        <td class="title" width="40%">Bluetooth</td>
        <td class="content_charactestic" width="60%">{{product.bluetooth}}</td>
      </tr>
      <tr></tr>
      <tr class="tr-0">
        <td class="title" width="40%">Cổng kết nối sạc</td>
        <td class="content_charactestic" width="60%">{{product.chargingPort}}</td>
      </tr>
      <tr></tr>
      <tr class="tr-1">
        <td class="title" width="40%">Jack tai nghe</td>
        <td class="content_charactestic" width="60%">{{product.headphoneJack}}</td>
      </tr>
      <tr>
        <td class="group_field" colspan="2" valign="top">Pin &amp; Sạc</td>
      </tr>
      <tr class="tr-0 srat_group_field">
        <td class="title" width="40%">Dung lượng pin</td>
        <td class="content_charactestic" width="60%">{{product.batteryCapacity}}</td>
      </tr>
      <tr></tr>
      <tr class="tr-1">
        <td class="title" width="40%">Loại pin</td>
        <td class="content_charactestic" width="60%">{{product.batteryType}}</td>
      </tr>
      <tr></tr>
      <tr class="tr-0">
        <td class="title" width="40%">Hỗ trợ sạc tối đa</td>
        <td class="content_charactestic" width="60%">{{product.maximumChargingSupport}}W</td>
      </tr>
    </tbody>
  </table>
</div>