<div class="body_container ">
    <div class=" container">
       <div id="main_container" class="row">
          <div class="col-md-12 col-sm-12 main-column">
             <input type="hidden" id="alert_info" value='["B\u1ea1n ch\u01b0a nh\u1eadp email","Email ch\u01b0a \u0111\u00fang \u0111\u1ecbnh d\u1ea1ng","B\u1ea1n ch\u01b0a nh\u1eadp m\u00e3 x\u00e1c nh\u1eadn"]' />
             <main>
                <div class="user-content-side container-forgot">
                   <h4>Quên mật khẩu</h4>
                   <form action="" name="frmForgot" class="frmForgot" id="frmForgot" method="post">
                      <p class="title-forgot">Chúng tôi sẽ tiến hành kiểm tra và gửi lại mật khẩu vào email của bạn.</p>
                      <div class="box-user">
                         <label for="f_email" class="label-input">Email</label>
                         <input type="text" name="f_email" id="f_email" placeholder="Email" class="form-control">
                      </div>
                      <div class="box-user">
                         <label for="txtCaptcha" class="label-input">Mã xác nhận</label>
                         <input type="text" name="txtCaptcha" id="txtCaptcha" placeholder="Mã xác nhận" class="form-control">
                         <a href="javascript:changeCaptcha();" title="Click để thay đổi mã xác nhận" class="code-view">
                         <img id="imgCaptcha" src="https://didongthongminh.vn/libraries/jquery/ajax_captcha/create_image.php" />
                         </a>
                      </div>
                      <div class="box-user box-submit">
                         <a href="javascript:void(0)" class="submit-btn" id="submit_forgot">Đồng ý</a>
                         <input type="hidden" name="module" value="members" />
                         <input type="hidden" name="view" value="members" />
                         <input type="hidden" name="task" value="forget_save" />
                      </div>
                   </form>
                </div>
             </main>
          </div>
       </div>
    </div>
 </div>