<div class="body_container ">
    <div class=" container">
       <div id="main_container" class="row">
          <div class="col-md-12 col-sm-12 main-column">
             <input type="hidden" id="alert_member" value='["B\u1ea1n ch\u01b0a nh\u1eadp h\u1ecd v\u00e0 t\u00ean","B\u1ea1n ch\u01b0a nh\u1eadp m\u1eadt kh\u1ea9u","B\u1ea1n ch\u01b0a nh\u1eadp email","Email kh\u00f4ng \u0111\u00fang \u0111\u1ecbnh d\u1ea1ng","B\u1ea1n ch\u01b0a nh\u1eadp m\u1eadt kh\u1ea9u","Nh\u1eadp l\u1ea1i m\u1eadt kh\u1ea9u","M\u1eadt kh\u1ea9u ch\u01b0a \u0111\u00fang, vui l\u00f2ng nh\u1eadp l\u1ea1i","B\u1ea1n ch\u01b0a x\u00e1c nh\u1eadn Captcha","M\u1eadt kh\u1ea9u c\u00f3 \u00edt nh\u1ea5t 6 k\u00fd t\u1ef1","B\u1ea1n ch\u01b0a nh\u1eadp s\u1ed1 \u0111i\u1ec7n tho\u1ea1i","S\u1ed1 \u0111i\u1ec7n tho\u1ea1i t\u1eeb 10 \u0111\u1ebfn 12 s\u1ed1","S\u1ed1 \u0111i\u1ec7n tho\u1ea1i kh\u00f4ng \u0111\u00fang \u0111\u1ecbnh d\u1ea1ng"]' />
             <main>
                <div class="grid-members">
                   <div class="grid-item">
                      <img src="https://didongthongminh.vn/modules/members/assets/images/log.svg" alt="log" class="img-responsive">
                      <p>Quyền lợi thành viên</p>
                      <ul>
                         <li>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                               <path d="M14.6663 7.38668V8.00001C14.6655 9.43763 14.2 10.8365 13.3392 11.9879C12.4785 13.1393 11.2685 13.9817 9.88991 14.3893C8.51129 14.7969 7.03785 14.7479 5.68932 14.2497C4.3408 13.7515 3.18944 12.8307 2.40698 11.6247C1.62452 10.4187 1.25287 8.99205 1.34746 7.55755C1.44205 6.12305 1.99781 4.75756 2.93186 3.66473C3.86591 2.57189 5.1282 1.81027 6.53047 1.49344C7.93274 1.17662 9.39985 1.32157 10.713 1.90668" stroke="#20863D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                               <path d="M14.6667 2.66669L8 9.34002L6 7.34002" stroke="#20863D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            Mua hàng khắp thế giới cực dễ dàng, nhanh chóng
                         </li>
                         <li>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                               <path d="M14.6663 7.38668V8.00001C14.6655 9.43763 14.2 10.8365 13.3392 11.9879C12.4785 13.1393 11.2685 13.9817 9.88991 14.3893C8.51129 14.7969 7.03785 14.7479 5.68932 14.2497C4.3408 13.7515 3.18944 12.8307 2.40698 11.6247C1.62452 10.4187 1.25287 8.99205 1.34746 7.55755C1.44205 6.12305 1.99781 4.75756 2.93186 3.66473C3.86591 2.57189 5.1282 1.81027 6.53047 1.49344C7.93274 1.17662 9.39985 1.32157 10.713 1.90668" stroke="#20863D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                               <path d="M14.6667 2.66669L8 9.34002L6 7.34002" stroke="#20863D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            Theo dõi chi tiết đơn hàng, địa chỉ thanh toán dễ dàng
                         </li>
                         <li>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                               <path d="M14.6663 7.38668V8.00001C14.6655 9.43763 14.2 10.8365 13.3392 11.9879C12.4785 13.1393 11.2685 13.9817 9.88991 14.3893C8.51129 14.7969 7.03785 14.7479 5.68932 14.2497C4.3408 13.7515 3.18944 12.8307 2.40698 11.6247C1.62452 10.4187 1.25287 8.99205 1.34746 7.55755C1.44205 6.12305 1.99781 4.75756 2.93186 3.66473C3.86591 2.57189 5.1282 1.81027 6.53047 1.49344C7.93274 1.17662 9.39985 1.32157 10.713 1.90668" stroke="#20863D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                               <path d="M14.6667 2.66669L8 9.34002L6 7.34002" stroke="#20863D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            Nhận nhiều chương trình ưu đãi hấp dẫn từ chúng tôi
                         </li>
                      </ul>
                   </div>
                   <div class="grid-item">
                      <div class="top-title">
                         <a [routerLink]="['/login']" title="Đăng nhập">Đăng nhập</a>
                         <a [routerLink]="['/register']"  title="Đăng ký" class="active">Đăng ký</a>
                      </div>
                      <form action="" method="post" class="frmRegister" id="frmRegister">
                         <div class="box">
                            <input type="text" class="form-control" name="reg_name" id="reg_name" placeholder="Tên tài khoản *" [(ngModel)]="userReq.username">
                         </div>
                         <div class="box">
                            <input type="text" class="form-control" name="reg_tel" id="reg_tel" placeholder="Số điện thoại*" [(ngModel)]="userReq.phone">
                         </div>
                         <div class="box">
                            <input type="text" class="form-control" name="reg_tel" id="reg_tel" placeholder="Email*" [(ngModel)]="userReq.email">
                         </div>
                         <div class="box">
                            <input type="password" class="form-control" name="reg_pass" id="reg_pass" placeholder="Mật khẩu*" [(ngModel)]="userReq.password">
                         </div>
                         <div class="box">
                            <a (click)="register()" class="submitRegister submit-btn">
                            Tạo tại khoản                    </a>
                         </div>
                      </form>
                      
                    
                   </div>
                </div>
             </main>
             <div class="alert_modal fade" id="alert_modal">
                <div class="alert_body">
                   <div class="alert_message" id="alert_message">
                   </div>
                   <a id="a_message" onclick="close_alert()">Đóng</a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>