<div class='breadcrumbs'>
   <div class="container">
      <div class="row">
         <div class="col-xs-12">
            <div class='breadcrumb danh-gia-chi-tiet-redmi-k60-5g:-danh-gia-that-sau-3-thang-su-dung' itemscope
               itemtype="https://schema.org/BreadcrumbList">
               <div class='breadcumbs-first flever_12 fl-left' itemprop="itemListElement" itemscope
                  itemtype="https://schema.org/ListItem">
                  <a itemprop="item" title='didongthongminh.vn' [routerLink]="['/']">
                     <span itemprop="name">Trang chủ</span>
                  </a>
                  <meta itemprop="position" content="1" />
               </div>
               <div class='breadcrumbs_sepa'><i class="fa fa-angle-right" aria-hidden="true"></i></div>
               <div class="fl-left" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                  <a itemprop="item" [routerLink]="['/tin-tuc']" title="Tin tức & Sự kiện">
                     <span itemprop="name">Tin tức & Sự kiện</span>
                  </a>
                  <meta itemprop="position" content="2" />
               </div>
               <div class="clear"></div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="body_container ">
   <div class=" container">
      <div id="main_container" class="row">
         <div class="col-md-12 col-sm-12 main-column">
            <div class="news_detail wapper-page wapper-page-detail">
               <div class="row">
                  <div class="col-md-12">
                     <div class='news_filter'>
                        <div id='inline-menu'>
                           <ul id="sf-cate">
                              <!--	      	<li class='--><!--' ><a href="--><!--">Tin Mới</a></li>-->
                              <li class='parent has-sub '>
                                 <a class=" level_0 " [routerLink]="['/tin-tuc']" title="Tin công nghệ">Tin công
                                    nghệ</a>
                                 <ul>
                                 </ul>
                              </li>
                              <li class='parent has-sub '>
                                 <a class=" level_0 " [routerLink]="['/tin-tuc']" title="Đánh giá chi tiết">Đánh giá chi
                                    tiết</a>
                                 <ul>
                                 </ul>
                              </li>
                              <li class='parent has-sub '>
                                 <a class=" level_0 " [routerLink]="['/tin-tuc']" title="Tư vấn chọn mua">Tư vấn chọn
                                    mua</a>
                                 <ul>
                                 </ul>
                              </li>
                              <li class='parent has-sub '>
                                 <a class=" level_0 " [routerLink]="['/tin-tuc']" title="Tin khuyến mại">Tin khuyến
                                    mại</a>
                                 <ul>
                                 </ul>
                              </li>
                              <li class='parent has-sub '>
                                 <a class=" level_0 " [routerLink]="['/tin-tuc']" title="Mẹo hay công nghệ">Mẹo hay công
                                    nghệ</a>
                                 <ul>
                                 </ul>
                              </li>
                              <li class='parent has-sub '>
                                 <a class=" level_0 " [routerLink]="['/tin-tuc']" title="Hướng dẫn kĩ thuật">Hướng dẫn
                                    kĩ thuật</a>
                                 <ul>
                                 </ul>
                              </li>
                              <li class='parent has-sub '>
                                 <a class=" level_0 " [routerLink]="['/tin-tuc']" title="Video công nghệ">Video công
                                    nghệ</a>
                                 <ul>
                                 </ul>
                              </li>
                              <li class='parent has-sub '>
                                 <a class=" level_0 " [routerLink]="['/tin-tuc']" title="Cách kiểm tra máy cũ">Cách kiểm
                                    tra máy cũ</a>
                                 <ul>
                                 </ul>
                              </li>
                              <li class='parent has-sub '>
                                 <a class=" level_0 " [routerLink]="['/tin-tuc']" title="Tuyển dụng">Tuyển dụng</a>
                                 <ul>
                                 </ul>
                              </li>
                              <li class='parent has-sub '>
                                 <a class=" level_0 " [routerLink]="['/tin-tuc']" title="Chính sách bán hàng">Chính sách
                                    bán hàng</a>
                                 <ul>
                                 </ul>
                              </li>
                              <li class='parent has-sub '>
                                 <a class=" level_0 " [routerLink]="['/tin-tuc']" title="Đời sống">Đời sống</a>
                                 <ul>
                                 </ul>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-9">
                     <div class="wapper-content-page mt20">
                        <h1 class='content_title'>
                           <span>{{news.title}}</span>
                        </h1>
                        <div class="clock clearfix">
                           <span class='datetime'><i class="fa fa-calendar" aria-hidden="true"
                                 style="margin-left: 10px;"></i>{{news.createdDate}}</span>
                           <span class="view"><i class="fa fa-eye" aria-hidden="true" style="margin-left: 10px;"></i>
                              {{news.view}}</span>

                        </div>

                        <div class="clearfix"></div>
                        <br>
                        <div class='description clearfix' [innerHTML]="news.content">

                        </div>

                        <div class="share">
                           <!-- <div class="fb-share-button" data-href="http://didongthongminh.vn/danh-gia-chi-tiet-redmi-k60-5g:-danh-gia-that-sau-3-thang-su-dung" data-layout="button_count"></div> -->
                           <!-- <div class="fb-like" data-href="http://didongthongminh.vn/danh-gia-chi-tiet-redmi-k60-5g:-danh-gia-that-sau-3-thang-su-dung" data-layout="button_count" data-action="like"></div> -->
                        </div>
                        <div class="clear"></div>

                        <!--                -->

                        <!--                <div class="frame-content  hidden-md hidden-sm hidden-xs">-->
                        <!--                    --><!--                </div>-->
                        <input type="hidden" value="7050" name='news_id' id='news_id' />
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="block_newslist">
                        <div class="Đánh giá chi tiết Redmi K60 5G: Đánh giá THẬT sau 3 tháng sử dụng?">
                           <input type="text" value="" class="form-control" name="news_search" id="news_search"
                              placeholder="Tìm kiếm từ khóa...">
                           <input type="hidden" id="link_news_search"
                              value="https://didongthongminh.vn/tim-kiem-tin-tuc">
                           <!-- <a href="javascript:void(0)" id="btn_search_news" class="btn_search_news"><i
                                 class="fa fa-search"></i></a> -->
                        </div>
                        <div class="news_list_body">
                           <h3 class="title_sale title_tags">Chủ đề hot</h3>
                           <div class="hot-tags">
                              <a href="https://didongthongminh.vn/iphone-11-gia-re" title="iPhone 11 giá rẻ">
                                 <span></span>
                                 <span>iPhone 11 giá rẻ</span>
                              </a>
                              <a href="https://didongthongminh.vn/iphone-13-iphone-2021"
                                 title="iPhone 13 (iPhone 2021)">
                                 <span></span>
                                 <span>iPhone 13 (iPhone 2021)</span>
                              </a>
                              <a href="https://didongthongminh.vn/iphone-14-gia-re" title="iPhone 14 giá rẻ">
                                 <span></span>
                                 <span>iPhone 14 giá rẻ</span>
                              </a>
                              <a href="https://didongthongminh.vn/iphone-15-co-gi-moi" title="iPhone 15 có gì mới">
                                 <span></span>
                                 <span>iPhone 15 có gì mới</span>
                              </a>
                           </div>
                        </div>
                        <div class='news_list_body'>
                           <h3 class="block_title"><span>Tin xem nhiều</span></h3>

                        </div>
                     </div>

                     <div class='news_list_body'>
                        <h3 class="title_sale title_recruitment">Tin tuyển dụng</h3>
                        <div class="row">
                           <div class='news-recruitment col-sm-12'>
                              <a href='https://didongthongminh.vn/tuyen-dung-chuyen-vien-seo-nganh-hang-dien-thoai-ha-noi'
                                 title=" Tuyển Dụng Chuyên Viên SEO Ngành Hàng Điện Thoại Tại Hà Nội">
                                 <div class="title-news">
                                    <span>Tuyển Dụng Chuyên Viên SEO Ngành Hàng Điện Thoại Tại Hà Nội</span>
                                    <span class="gray"></span>
                                 </div>
                                 <div class="end-time">
                                    <span class="gray">Hạn nộp</span>
                                    <span>18/03/2022</span>
                                 </div>
                              </a>
                           </div>
                           <div class='news-recruitment col-sm-12'>
                              <a href='https://didongthongminh.vn/tuyen-dung-nhan-vien-ban-hang-thu-nhap-hap-dan-6-12-tr-di-dong-thong-minh'
                                 title=" Khởi Nghiệp Công Việc Chuyên Viên Tư Vấn Bán Hàng Di Động Thông Minh">
                                 <div class="title-news">
                                    <span>Khởi Nghiệp Công Việc Chuyên Viên Tư Vấn Bán Hàng Di Động Thông Minh</span>
                                    <span class="gray">119 Thái Thịnh, Đống Đa Hà Nội</span>
                                 </div>
                                 <div class="end-time">
                                    <span class="gray">Hạn nộp</span>
                                    <span>31/03/2022</span>
                                 </div>
                              </a>
                           </div>
                           <div class='news-recruitment col-sm-12'>
                              <a href='https://didongthongminh.vn/tuyen-dung-nhan-vien-thiet-ke-di-dong-thong-minh'
                                 title=" Tuyển dụng nhân viên thiết kế - Di Động Thông Minh">
                                 <div class="title-news">
                                    <span>Tuyển dụng nhân viên thiết kế - Di Động Thông Minh</span>
                                    <span class="gray"></span>
                                 </div>
                                 <div class="end-time">
                                    <span class="gray">Hạn nộp</span>
                                    <span>01/01/1970</span>
                                 </div>
                              </a>
                           </div>
                           <div class='news-recruitment col-sm-12'>
                              <a href='https://didongthongminh.vn/di-dong-thong-minh-tuyen-dung-marketing-content-wiriter'
                                 title=" Di Động Thông Minh Tuyển Dụng MARKETING - CONTENT WIRITER">
                                 <div class="title-news">
                                    <span>Di Động Thông Minh Tuyển Dụng MARKETING - CONTENT WIRITER</span>
                                    <span class="gray">Hà Nội</span>
                                 </div>
                                 <div class="end-time">
                                    <span class="gray">Hạn nộp</span>
                                    <span>30/11/2021</span>
                                 </div>
                              </a>
                           </div>
                           <div class='news-recruitment col-sm-12'>
                              <a href='https://didongthongminh.vn/di-dong-thong-minh-tuyen-dung-nhieu-vi-tri-voi-thu-nhap-cao-co-hoi-thang-tien-di-dong-thong-minh'
                                 title=" Di Động Thông Minh tuyển dụng nhiều vị trí với Thu Nhập Cao, Cơ Hội Thăng Tiến - Di Động Thông Minh">
                                 <div class="title-news">
                                    <span>Di Động Thông Minh tuyển dụng nhiều vị trí với Thu Nhập Cao, Cơ Hội Thăng Tiến
                                       - Di Động Thông Minh</span>
                                    <span class="gray"></span>
                                 </div>
                                 <div class="end-time">
                                    <span class="gray">Hạn nộp</span>
                                    <span>04/10/2022</span>
                                 </div>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <script type="application/ld+json">
                {
                "@context": "https://schema.org",
                "@type": "NewsArticle",
                "mainEntityOfPage": {
                    "@type": "WebPage",
                    "@id": "https://didongthongminh.vn/danh-gia-chi-tiet-redmi-k60-5g:-danh-gia-that-sau-3-thang-su-dung"
                },
                "headline": "Đánh giá chi tiết Redmi K60 5G: Đánh giá THẬT sau 3 tháng sử dụng?",
                "image": "https://didongthongminh.vn/images/news/2024/03/original/danh-gia-redmi-k60_1710303967.jpg",  
                "author": {
                    "@type": "Person",
                    "name": "Didongthongminh.vn"
                },  
                "publisher": {
                    "@type": "Organization",
                    "name": "Didongthongminh",
                    "logo": {
                        "@type": "ImageObject",
                        "url": "https://didongthongminh.vn/images/config/lg_1648528949.svg"
                    }
                },
                "datePublished": "2024-03-13",
                "dateModified": "2024-03-14"
                }
             </script>
         </div>
      </div>
   </div>
</div>