<div class="dashboard-wrapper">
    <!-- <lib-toastify-toast-container></lib-toastify-toast-container> -->
  
    <div class="container-fluid dashboard-content">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="page-header">
            <h2 class="pageheader-title">Khóa học</h2>
            <p class="pageheader-text">
              Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit
              amet vestibulum mi. Morbi lobortis pulvinar quam.
            </p>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
    <app-admin-footer></app-admin-footer>
  </div>
  