<lib-toastify-toast-container [transition]="'bounce'" [autoClose]="3000" [hideProgressBar]="true" [newestOnTop]="true"
   [closeOnClick]="true" [pauseOnHover]="true" [pauseOnVisibilityChange]="true"
   [preventDuplicates]="true"></lib-toastify-toast-container>

<div class='breadcrumbs'>
   <div class="container">
      <div class="row">
         <div class="col-xs-12">
            <div class='breadcrumb index.php' itemscope itemtype="https://schema.org/BreadcrumbList">
               <div class='breadcumbs-first flever_12 fl-left' itemprop="itemListElement" itemscope
                  itemtype="https://schema.org/ListItem">
                  <a itemprop="item" title='didongthongminh.vn' href="https://didongthongminh.vn/">
                     <span itemprop="name">Trang chủ</span>
                  </a>
                  <meta itemprop="position" content="1" />
               </div>
               <div class='breadcrumbs_sepa'><i class="fa fa-angle-right" aria-hidden="true"></i></div>
               <div class="fl-left" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                  <a itemprop="item" href="" title="Trang cá nhân">
                     <span itemprop="name">Trang cá nhân</span>
                  </a>
                  <meta itemprop="position" content="2" />
               </div>
               <div class="clear"></div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="body_container ">
   <div class=" container">
      <div id="main_container" class="row">
         <div class="col-md-12 col-sm-12 main-column">
            <input type="hidden" id="alert_info"
               value='["B\u1ea1n ch\u01b0a nh\u1eadp h\u1ecd t\u00ean","B\u1ea1n ch\u01b0a nh\u1eadp s\u1ed1 \u0111i\u1ec7n tho\u1ea1i","S\u1ed1 \u0111i\u1ec7n tho\u1ea1i kh\u00f4ng \u0111\u00fang \u0111\u1ecbnh d\u1ea1ng","S\u1ed1 \u0111i\u1ec7n tho\u1ea1i t\u1eeb 10 \u0111\u1ebfn 12 s\u1ed1","B\u1ea1n ch\u01b0a nh\u1eadp m\u1eadt kh\u1ea9u","M\u1eadt kh\u1ea9u t\u1eeb 6 k\u00fd t\u1ef1 tr\u1edf l\u00ean","M\u1eadt kh\u1ea9u nh\u1eadp l\u1ea1i kh\u00f4ng \u0111\u00fang"]' />
            <main>
               <div class="grid-members">
                  <div class="grid-item">
                     <div class="user-menu-side">
                        <div class="user-name">
                           <img
                              [src]="user.avatar ? user.avatar : 'https://res.cloudinary.com/dgyqh297t/image/upload/v1717311124/avatar_lgo1y1.jpg'"
                              alt="avatar" class="img-responsive">
                           <div class="name">
                              Xin chào, <span>{{user.username}}</span>
                           </div>
                        </div>

                        <ul>
                           <li>
                              <a [routerLink]="['/trang-ca-nhan']">
                                 <i class="fa fa-user" aria-hidden="true"></i>
                                 Thông tin tài khoản </a>
                           </li>
                           <li class="selected">
                              <a [routerLink]="['/lich-su-don-hang']">
                                 <i class="fa fa-wpforms" aria-hidden="true"></i>
                                 Quản lý đơn hàng </a>
                           </li>
                           <li class="">
                              <a [routerLink]="['/doi-mat-khau']">
                                 <i class="fa fa-lock" aria-hidden="true"></i>
                                 Đổi mật khẩu </a>
                           </li>
                           <li class="">
                              <a [routerLink]="['/dia-chi']">
                                 <i class="fa fa-id-card-o" aria-hidden="true"></i>
                                 Sổ địa chỉ </a>
                           </li>
                           <li>
                              <a (click)="deleteBtn()">
                                 <i class="fa fa-power-off" aria-hidden="true"></i>
                                 Đăng xuất </a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="grid-item">
                     <div class="user-content-side">
                        <h2 class="member-title">Lịch sử đơn hàng</h2>
                        <table class="shop_table" style="border: 1; margin: 10px">
                            <thead>
                                <tr>
                                    <th class="product-name">Mã đơn hàng</th>                                                                       
                                    <th class="product-name">Phí vận chuyển</th>
                                    <th class="product-name">Tổng tiền</th>
                                    <th class="product-name">Trạng thái</th>
                                    <th class="product-name">Thanh toán</th>
                                </tr>
                            </thead>
    
                            <tbody id="itemCard" style="border: 1">
                                <tr *ngFor="let item of orders">
                                    <td class="product-name">
                                        {{ item.orderCode }}
                                    </td>                                   

                                    <td class="product-name">
                                        {{formatCurrencyVND(item.shippingFee)}}
                                    </td>

                                    <td class="product-name">
                                        {{ formatCurrencyVND(item.netPriceTotal)}}
                                    </td>

                                    <td class="product-name">
                                        {{ item.orderStatusName}}
                                    </td>

                                    <td class="product-name">
                                        {{ item.paymentStatus==true ? "Đã thanh toán" : "Chưa thanh toán"}}
                                    </td>
                                </tr>
                            </tbody>   
                            
                        </table>
                     </div>
                  </div>
               </div>
            </main>
            <div class="alert_modal fade" id="alert_modal">
               <div class="alert_body">
                  <div class="alert_message" id="alert_message">
                  </div>
                  <a id="a_message" onclick="close_alert()">Đóng</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script type="text/javascript" src="../assets/user-infor/default.js"></script>