<div class="nav-left-sidebar sidebar-dark">
    <div
      class="slimScrollDiv"
      style="position: relative; overflow: hidden; width: auto; height: 100%"
    >
      <div class="menu-list" style="overflow: hidden; width: auto; height: 100%">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav flex-column" >
              <li class="nav-divider">Menu</li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  [title]="'Khóa học'"
                  [routerLink]="['/admin/khoahoc/list']"
                  >Quản lý khóa học
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [title]="'Hóa đơn'"
                  [routerLink]="['/admin/hoadon/list']"
                  >Quản lý hóa đơn</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [title]="'Bài kiểm tra'"
                  [routerLink]="['/admin/test/list']"
                  >Quản lý bài kiểm tra</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [title]="'Hội thoại'"
                  [routerLink]="['/admin/convention/list']"
                >
                  Quản lý hội thoại</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [title]="'Người dùng'"
                  [routerLink]="['/admin/nguoidung/list']"
                  >Quản lý người dùng</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [title]="'Bài đã kiểm tra'"
                  [routerLink]="['/admin/tested/list']"
                  >Quản lý bài đã kiểm tra</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [title]="'Bình luận'"
                  [routerLink]="['/admin/comment/list']"
                  >Quản lý bình luận</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [title]="'Cấp độ'"
                  [routerLink]="['/admin/level/list']"
                  >Quản lý cấp độ</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [title]="'Bài viết'"
                  [routerLink]="['/admin/blog/list']"
                  >Quản lý bài viết</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [title]="'Thể loại'"
                  [routerLink]="['/admin/category/list']"
                  >Quản lý thể loại</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [title]="'Hồ sơ'"
                  [routerLink]="['/admin/profile/list']"
                  >Quản lý hồ sơ</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [title]="'Hồ sơ'"
                  [routerLink]="['/admin/collection/list']"
                  >Quản lý bộ sưu tập</a
                >
              </li>
            </ul>
            
          </div>
        </nav>
      </div>
      <div
        class="slimScrollBar"
        style="
          background: rgb(0, 0, 0);
          width: 7px;
          position: absolute;
          top: -1px;
          opacity: 0.4;
          display: none;
          border-radius: 7px;
          z-index: 99;
          right: 1px;
          height: 782.8px;
        "
      ></div>
      <div
        class="slimScrollRail"
        style="
          width: 7px;
          height: 100%;
          position: absolute;
          top: 0px;
          display: none;
          border-radius: 7px;
          background: rgb(51, 51, 51);
          opacity: 0.2;
          z-index: 90;
          right: 1px;
        "
      ></div>
    </div>
  </div>
  